/* === PREDEFINIÇÕES === */
@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy.woff2') format('woff2'), url('../fonts/gilroy.woff') format('woff');
}
    @font-face {
    font-family: 'gilroy-black';
    src: url('../fonts/gilroy-black-webfont.woff2') format('woff2'), url('../fonts/gilroy-black-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-bold';
    src: url('../fonts/gilroy-bold-webfont.woff2') format('woff2'), url('../fonts/gilroy-bold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-heavy';
    src: url('../fonts/gilroy-heavy-webfont.woff2') format('woff2'),  url('../fonts/gilroy-heavy-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-medium';
    src: url('../fonts/gilroy-medium-webfont.woff2') format('woff2'), url('../fonts/gilroy-medium-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-thin';
    src: url('../fonts/gilroy-thin-webfont.woff2') format('woff2'),  url('../fonts/gilroy-thin-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-ultralight';
    src: url('../fonts/gilroy-ultralight-webfont.woff2') format('woff2'), url('../fonts/gilroy-ultralight-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-blackitalic';
    src: url('../fonts/gilroy-blackitalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-blackitalic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-extrabold';
    src: url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),url('../fonts/gilroy-extrabold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-extrabolditalic';
    src: url('../fonts/gilroy-extrabolditalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-extrabolditalic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-heavyitalic';
    src: url('../fonts/gilroy-heavyitalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-heavyitalic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-mediumitalic';
    src: url('../fonts/gilroy-mediumitalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-mediumitalic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-regularitalic';
    src: url('../fonts/gilroy-regularitalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-regularitalic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-semibold';
    src: url('../fonts/gilroy-semibold-webfont.woff2') format('woff2'),url('../fonts/gilroy-semibold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-semibolditalic';
    src: url('../fonts/gilroy-semibolditalic-webfont.woff2') format('woff2'), url('../fonts/gilroy-semibolditalic-webfont.woff') format('woff');
}

}

body::after{
    position:absolute; z-index:-1;
    content: url(../img/ico-face-2.png) url(../img/ico-insta-2.png) url(../img/ico-zap-2.png) url(i../img/ico-email-2.png) url(../img/ico-ytb-2.png) url(../img/logo-medio-nome-2.png);
}
body{
  overflow-x:hidden;
}
html { 
font-size: calc(1vw + 1vw);
}

section h1{    cursor: default;}
section h2{ cursor: default;}
section p{   cursor: default;}

header{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
    z-index: -1;
  z-index: 2;
    left:0;
    top:0;
    height: 5vw;
    width: 100%;
  display: flex;
}
header a.icons-dp{

  display: block;
  margin-left: auto;
  margin-right: auto;
}
header a.icons-dp{
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s;
  width: 2vw;
  height: 2vw;
}
header ul.icons-contato li a.icoface{ background:url(../img/ico-face.png) center center;background-size: 100% 100%;}
header ul.icons-contato li a.icoinsta{ background:url(../img/ico-insta.png) center center;background-size: 100% 100%;}
header ul.icons-contato li a.icozap{ background:url(../img/ico-zap.png) center center;background-size: 100% 100%;}
header ul.icons-contato li a.icomail{ background:url(../img/ico-email.png)  center center;background-size: 100% 100%;}
header ul.icons-contato li a.icoytb{ background:url(../img/ico-ytb.png) center center;background-size: 100% 100%;}

header ul.icons-contato li a.icoface:hover{ background:url(../img/ico-face-3.png) center center;background-size: 100% 100%;    width: 2.3vw;height: 2.3vw;}
header ul.icons-contato li a.icoinsta:hover{ background:url(../img/ico-insta-3.png) center center;background-size: 100% 100%;   width: 2.3vw;height: 2.3vw;}
header ul.icons-contato li a.icozap:hover{ background:url(../img/ico-zap-3.png) center center;background-size: 100% 100%;   width: 2.3vw;height: 2.3vw;}
header ul.icons-contato li a.icomail:hover{ background:url(../img/ico-email-3.png) center center;background-size: 100% 100%;   width: 2.3vw;height: 2.3vw;}
header ul.icons-contato li a.icoytb:hover{ background:url(../img/ico-ytb-3.png) center center;background-size: 100% 100%;   width: 2.3vw;height: 2.3vw;}

header ul.icons-contato{
  left: 70vw;
  position: absolute;
  display: flex;
  padding: 1.5vw 0 1vw 0;
  margin: 0 4vw 0 0vw;
}
header ul.icons-contato li{
  margin: 0 1vw 0vw 1vw;
}
header ul.icons-contato li a img{
 transition: 0.2s;
  width: 2vw;
  height: 2vw;
}
header ul.icons-contato li a img:hover{
  width: 2.3vw;
  height: 2.3vw;
}

header a.logo{
  background:url(../img/logo-medio-nome.png) center center;
  background-size: 100% 100%;
  position: absolute;
  top: 0.75vw;
  left:5vw;
  width: 12.5vw;
  height: 3vw;
  transition: 0.1s;
}
header a.logo:hover{
  background:url(../img/logo-medio-nome-2.png) center center;
  background-size: 100% 100%;
  position: absolute;
  top: 0.65vw;
  left:4.5vw;
  width: 13.5vw;
  height: 3.2vw;
}
header a.fadeOutUp{  animation-duration: 0.5s;     animation-delay: 0.2s;}
header a.fadeInDown{  animation-duration: 0.5s;     animation-delay: 0.1s;}
header ul.fadeOutUp{  animation-duration: 0.6s;     animation-delay: 0.2s;}
header ul.fadeInDown{  animation-duration: 0.5s;     animation-delay: 0.1s;}


header a.bonezin{
  background:url(../img/logo-branco-pqn.png)no-repeat, center center;
  background-size: 100% 100%;
  cursor: pointer;
  display: none;
  width:2.5vw;
  height:2.5vw;
  position: absolute;
  left: 11.75vw;
  top: 0.25vw;
}



header div.menu{
  display: none;
}
header div.menucascata{
  display: none;
}

h1{
      cursor: default;
}
h2{
      cursor: default;
}
p{
      cursor: default;
}



section.amarela{
  background:url(../img/banner-rosa.png) no-repeat, center center;
  background-size: 100% 100%;
  height: 80vw;
  padding:0 0 0vw 0;
}
section.amarela h1{
  text-align:center;
  padding: 10vw 0 0vw 0vw;
  font-family: "gilroy-black";
  text-decoration: none;
  /*color: #363636;*/
  color: white;
  font-size: 7vw;
  letter-spacing: 0.01vw;
}

section.amarela ul.lista1{
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  margin: 5vw 0 0 5vw;
}

section.amarela ul.lista1 li{
    box-shadow: 0px 0px 0.8vw rgba(0,0,0,0.1);
  transition: 0.2s;
  width: 24%;
  height: 21.6vw;
  margin: 0.5%;
}

section.amarela ul.lista1 li.serjaoli{background:url(../img/logo-serjao.png) center center;   background-size: 100% 100%;}
section.amarela ul.lista1 li.serjaoli:hover{background: linear-gradient(rgba(0, 0, 0,0.3), rgba(0, 0, 0,0.4)),url(../img/logo-serjao-2.png) center center;background-size: 105% 105%;}


section.amarela ul.lista1 li.rrli{background:url(../img/logo-rr.png) center center; background-size: 100% 100%;}
section.amarela ul.lista1 li.rrli:hover{background: linear-gradient(rgba(0, 0, 0,0.4), rgba(0, 0, 0,0.6)),url(../img/logo-rr-2.png) center center;background-size: 105% 105%;}

section.amarela ul.lista1 li.goatli{background:url(../img/logo-goat.png) center center; background-size: 100% 100%;}
section.amarela ul.lista1 li.goatli:hover{background: linear-gradient(rgba(0, 0, 0,0.4), rgba(0, 0, 0,0.6)),url(../img/logo-goat-2.png) center center;background-size: 105% 105%;}


section.amarela ul.lista1 li.kocli{background:url(../img/logo-koc.png) center center; background-size: 100% 100%;}
section.amarela ul.lista1 li.kocli:hover{background: linear-gradient(rgba(0, 0, 0,0.4), rgba(0, 0, 0,0.6)),url(../img/logo-koc-2.png) center center;background-size: 105% 105%;}

section.amarela ul.lista1 li.pdali{background:url(../img/logo-pda.png) center center; background-size: 100% 100%;}
section.amarela ul.lista1 li.pdali:hover{background: linear-gradient(rgba(0, 0, 0,0.4), rgba(0, 0, 0,0.6)),url(../img/logo-pda-2.png) center center;background-size: 105% 105%;}

section.amarela ul.lista1 li.cdbli{background:url(../img/logo-cdb.png) center center; background-size: 100% 100%;}
section.amarela ul.lista1 li.cdbli:hover{background: linear-gradient(rgba(0, 0, 0,0.4), rgba(0, 0, 0,0.6)),url(../img/logo-cdb-2.png) center center;background-size: 105% 105%;}



section.amarela ul.lista1 li.fffli{background:url(../img/logo-fff.png) center center; background-size: 100% 100%;}
section.amarela ul.lista1 li.fffli:hover{background: linear-gradient(rgba(0, 0, 0,0.5), rgba(0, 0, 0,0.6)),url(../img/logo-fff-2.png) center center;background-size: 105% 105%;}

section.amarela ul.lista1 li.liwgsli{background:url(../img/logo-liwgs.png) center center; background-size: 100% 100%;}
section.amarela ul.lista1 li.liwgsli:hover{background: linear-gradient(rgba(0, 0, 0,0.5), rgba(0, 0, 0,0.6)),url(../img/logo-liwgs-2.png) center center;background-size: 105% 105%;}

section.amarela ul.lista2 li.ccli{background:url(../img/logo-cc.png) center center; background-size: 100% 100%;}
section.amarela ul.lista2 li.ccli:hover{background: linear-gradient(rgba(0, 0, 0,0.5), rgba(0, 0, 0,0.6)),url(../img/logo-cc-2.png) center center;background-size: 105% 105%;}

section.amarela ul.lista2 li.vdvli{background:url(../img/logo-vdv-2.png) center center; background-size: 100% 100%;}
section.amarela ul.lista2 li.vdvli:hover{background: linear-gradient(rgba(0, 0, 0,0.5), rgba(0, 0, 0,0.6)),url(../img/logo-vdv.png) center center;background-size: 105% 105%;}

section.amarela ul.lista2 li.vufcli{background:url(../img/logo-vufc.png) center center; background-size: 100% 100%;}
section.amarela ul.lista2 li.vufcli:hover{background: linear-gradient(rgba(0, 0, 0,0.5), rgba(0, 0, 0,0.6)),url(../img/logo-vufc-2.png) center center;background-size: 105% 105%;}


section.amarela ul.lista2 li.cdali{background:url(../img/logo-cda.png) center center; background-size: 100% 100%;}
section.amarela ul.lista2 li.cdali:hover{background: linear-gradient(rgba(0, 0, 0,0.5), rgba(0, 0, 0,0.6)),url(../img/logo-cda-2.png) center center;background-size: 105% 105%;}


section.amarela ul.lista1 li:hover h2{
  opacity: 1;
}

section.amarela ul.lista1 li h2{
    cursor: pointer;
    transition: 0.3s;
    padding: 9.8vw 0 9.8vw 0;
    font-family: 'gilroy-extrabolditalic';
    color: white;
    opacity: 0;
    font-size: 2vw;
    text-align: center;
}
.divlogo{
    box-shadow: 0px 0px 1.5vw rgba(0,0,0,0.7);
}



section.amarela div.serjaodiv img.complogoserjao{
  width: 28vw;height:auto;
  position: absolute; left: 10vw; top: 10vw;
} 



.serjao-opcao-1{ background:url(../img/logo-serjao-3.png) center center;}
.serjao-opcao-2{ background:url(../img/logo-serjao-4.png) center center;}
.serjao-opcao-3{ background:url(../img/logo-serjao-5.png) center center;}

/*
000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
*/

section.amarela div.rrdiv img.comp{
  width: 28vw;height:auto;
  position: absolute; left: 8vw; top: 9vw;
} 


.rr-opcao-1{ background:url(../img/logo-rr.png) center center;}
.rr-opcao-2{ background:url(../img/logo-rr-2.png) center center;}
.rr-opcao-3{ background:url(../img/logo-rr.png) center center;}


/*
000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
*/

section.amarela div.kocdiv img.comp{
  width: 32vw;height:auto;
  position: absolute; left: 7vw; top: 12vw;
} 


.koc-opcao-1{ background:url(../img/logo-koc-3.png) center center;}
.koc-opcao-2{ background:url(../img/logo-koc-4.png) center center;}
.koc-opcao-3{ background:url(../img/logo-koc-5.png) center center;}



/*
000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
*/

section.amarela div.pdadiv img.comp{
  width: 28vw;height:auto;
  position: absolute; left: 8vw; top: 12vw;
} 

.pda-opcao-1{ background:url(../img/logo-pda-3.png) center center;}
.pda-opcao-2{ background:url(../img/logo-pda-4.png) center center;}
.pda-opcao-3{ background:url(../img/logo-pda-5.png) center center;}



/*
000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
*/



section.amarela div.cdbdiv img.comp{
  width: 30vw;height:auto;
  position: absolute; left: 7vw; top: 12.5vw;
} 



/*
000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
*/


section.amarela div.cdgdiv img.comp{
  width: 28vw;height:auto;
  position: absolute; left: 8.4vw; top: 8.5vw;
} 





/*
000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
*/

section.amarela div.fffdiv img.comp{
  width: 28vw;height:auto;
  position: absolute; left: 8.5vw; top: 14.5vw;
} 



.fff-opcao-1{ background:url(../img/logo-fff.png) center center;}
.fff-opcao-2{ background:url(../img/logo-fff-2.png) center center;}
.fff-opcao-3{ background:url(../img/logo-fff.png) center center;}


/*
000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
*/


section.amarela div.liwgsdiv img.comp{
  width: 23vw;height:auto;
  position: absolute; left: 11vw; top: 11vw;
} 

  
.liwgs-opcao-1{ background:url(../img/logo-liwgs-3.png) center center;}
.liwgs-opcao-2{ background:url(../img/logo-liwgs-4.png) center center;}
.liwgs-opcao-3{ background:url(../img/logo-liwgs-5.png) center center;}


/*
000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
*/

section.amarela div.goatdiv img.comp{
  width: 28vw;height:auto;
  position: absolute; left: 8vw; top: 16vw;
} 

  
.goat-opcao-1{ background:url(../img/logo-goat-5.png) center center;}
.goat-opcao-2{ background:url(../img/logo-goat-3.png) center center;}
.goat-opcao-3{ background:url(../img/logo-goat-4.png) center center;}


/*
000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
*/

section.amarela div.vdvdiv img.comp{
  width: 28vw;height:auto;
  position: absolute; left: 7.5vw; top: 10vw;
} 

/*
000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
*/

section.amarela div.vufcdiv img.comp{
  width: 20vw;height:auto;
  position: absolute; left: 11vw; top: 10vw;
} 

/*
000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
*/

section.amarela div.cdadiv img.comp{
  width: 28vw;height:auto;
  position: absolute; left: 7vw; top: 11vw;
} 

  
.cda-opcao-1{ background:url(../img/logo-cda-5.png) center center;}
.cda-opcao-2{ background:url(../img/logo-cda-3.png) center center;}
.cda-opcao-3{ background:url(../img/logo-cda-4.png) center center;}


/*
000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
*/



footer{
  position:absolute;
  top: 75vw;
  left: 0;
	 background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    height: 5vw;
    margin: 0vw 0 0 0;
}

footer div.infofooter{
	width: 79.1vw;
	padding: 0.7vw 8.1vw 0vw 0vw;
}


footer div.infofooter p{
	text-align: right;
	color: white;
	font-family: "gilroy-thin";
	font-size: 1vw;
	margin: 0.6vw 0 0 0vw;
}

footer div.brasil{
	display: flex; position: relative;
  float: right;
}

footer div.brasil img{
	margin: 0.45vw 0.7vw 0 0;
	width: 1.2vw;
	height: 1.2vw;
}


footer ul {
	margin: 1.7vw 0 1.5vw 7.1vw;
	width: 20vw;
	display: flex;
}
footer ul  li{
	margin: 0 1vw 0vw 1vw;
}

footer ul li a{
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s;
  width: 2vw;
  height: 2vw;
}

footer ul li a.icoface{ background:url(../img/ico-face.png) center center;background-size: 100% 100%;}
footer ul li a.icoinsta{ background:url(../img/ico-insta.png) center center;background-size: 100% 100%;}
footer ul li a.icozap{ background:url(../img/ico-zap.png) center center;background-size: 100% 100%;}
footer ul li a.icomail{ background:url(../img/ico-email.png) center center;background-size: 100% 100%;}
footer ul li a.icoytb{ background:url(../img/ico-ytb.png) center center;background-size: 100% 100%;}

footer ul li a.icoface:hover{ background:url(../img/ico-face-3.png) center center;background-size: 100% 100%;    width: 2.3vw;height: 2.3vw;}
footer ul li a.icoinsta:hover{ background:url(../img/ico-insta-3.png) center center;background-size: 100% 100%;   width: 2.3vw;height: 2.3vw;}
footer ul li a.icozap:hover{ background:url(../img/ico-zap-3.png) center center;background-size: 100% 100%;   width: 2.3vw;height: 2.3vw;}
footer ul li a.icomail:hover{ background:url(../img/ico-email-3.png) center center;background-size: 100% 100%;   width: 2.3vw;height: 2.3vw;}
footer ul li a.icoytb:hover{ background:url(../img/ico-ytb-3.png) center center;background-size: 100% 100%;   width: 2.3vw;height: 2.3vw;}


section.amarela div.divlogo{
  display: none;
z-index: 10;
  background-color: rgba(0, 0, 0, 0.88);
  width: 80vw;
  height: 40vw;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top:   -20vw;
  margin-left: -40vw;
}

img.x{
  cursor: pointer;
  width: 2.5vw;
  height:auto;
  position: absolute; left: 75vw; top: 2vw;
} 

section.amarela div.divlogo h3{
  cursor: default;
  margin: 2.5vw 0 0vw 3vw;
  font-family: 'gilroy-heavyitalic';
  text-decoration: none;
  color: white;
  font-size: 3vw;
  letter-spacing: 0.01vw;
}


section.amarela div.divlogo img.camisa{
  position: absolute;  left: 44.6vw;  top: 21vw; 
   width: 33vw;
} 



section.amarela div.divlogo h2{
  font-family: 'gilroy-extrabold';
  color: white;
  font-size: 3vw;
  letter-spacing: 0.01vw;
  font-size: 2.5vw;
}

section.amarela div.divlogo h2.opcoes{
    padding: 0 0 0 0; position: absolute; top: 17.5vw; left: 45vw;
}

section.amarela div.divlogo h2.corestxt{
    padding: 0 0 0 0; position: absolute; top: 4vw; left: 45vw;
}

section.amarela div.divlogo img.cores{
  width: 28vw;
  position: absolute; left: 45vw; top: 7.5vw;
}
section.amarela div.divlogo div.divopcoes{
  display: flex;
  position: absolute;  left: 44.6vw;  top: 21.5vw;  width: 30.6vw;
  height: 10vw;  background-color: none;
}

section.amarela div.divlogo div.divopcoes div{
  background-size: 170% 100%;
  margin: 0 0.6vw 0 0.6vw;
  transition: 0.2s;width: 9vw;height: 15vw;cursor: default;
}

section.amarela div.divlogo p.phistoria{
  position: absolute;  left: 45.2vw;  top: 21.5vw; width: 32vw; font-family: 'gilroy';color: white;font-size: 1.1vw; line-height: 1.6vw;}



/*
==============================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================*/

section.amarela ul.lista2{

  width: 90vw;
  display: none;
  flex-wrap: wrap;
  position: absolute;
  left: 5vw;
  top: 22vw;
}



section.amarela ul.lista2 li{
    box-shadow: 0px 0px 0.8vw rgba(0,0,0,0.1);
  transition: 0.2s;
  width: 24%;
  height: 21.6vw;
  margin: 0.5%;
}

section.amarela ul.lista2 li:hover h2{
  opacity: 1;
}

section.amarela ul.lista2 li h2{
    cursor: pointer;
    transition: 0.3s;
    padding: 9.8vw 0 9.8vw 0;
    font-family: 'gilroy-extrabolditalic';
    color: white;
    opacity: 0;
    font-size: 2vw;
    text-align: center;
}


/*==================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================================*/

ul.ul-nav-pag{
  position: absolute;
  width: 8vw;
  left: 47.5vw;
  top: 70vw;
  display: flex;
}


ul.ul-nav-pag li{
  margin: 0 0.5vw 0 0vw;
}

ul.ul-nav-pag li img.pag1{
  width: 2vw;
  cursor: default;
}

ul.ul-nav-pag li img.pag2{
  width: 1.5vw;
  margin: 0.3vw 0 0 0;
    cursor: pointer;
}

section.amarela ul.lista2 div.divlogo{
  display: none;
z-index: 10;
  background-color: rgba(0, 0, 0, 0.88);
  width: 80vw;
  height: 40vw;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top:   -20vw;
  margin-left: -40vw;
}



























@media all and (max-width: 480px){ 

div.container{
	width: 100vw;
}

header{
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
    left:0;
    top:0;
    height: 18vw;
    width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

header a.icons-dp{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header ul.icons-contato{
  display: none;
  padding: 120vw 0 1vw 0;
  margin: 0 8vw 0 0vw;
}

header ul.icons-contato li{
  margin: 0 3.5vw 0 3.5vw;
}

header ul.icons-contato li a img{
width: 10vw;
  height: auto;
}

header a.logo{
  position: absolute;
  top: 3.8vw;
  left: 5vw;
  height: 10vw;
  width:41vw;
}

header a.logo:hover{
  position: absolute;
  top: 3.8vw;
  left: 5vw;
  height: 10vw;
  width:41vw;
}


header div.menu{
  position: absolute;
  top: 3.5vw;
  left: 86vw;
  display: inline-block;
  cursor: pointer;
      
}
.bar1, .bar2, .bar3 { 
  width: 10vw;
  height: 1vw;
  background-color: white;
  margin: 2vw 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
} 

header div.menucascata{
border-bottom-left-radius: 2vw;
border-bottom-right-radius: 2vw;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 18vw;
  left: 30vw;
  display: none;    
   width: 70vw; 
    
}
header div.menucascata ul{
  width: 70vw;      
}
header div.menucascata li{
  border-bottom: solid 0.15vw rgba(250, 250, 250, 0.3);
  border-top: solid 0.15vw rgba(250, 250, 250, 0.3);
  display: flex;
  width: 100%;
  height: 10vw;
  padding: 2vw 0 2vw 0;
}

header div.menucascata li a.icons-mb{

  text-decoration:none;
  display: flex;
  width: 100%;
  height: 100%;
}
header div.menucascata li p{
  margin: 2.5vw 0 0 4vw;
  color: white;
  font-family: "gilroy";
  font-size:6vw;
}

header div.menucascata img{
  width: 7vw;
  height: 7vw;
  margin: 1.8vw 0vw 0 6vw;
}

section.amarela{
  background:url(../img/banner-rosa-2.png) no-repeat, center center;
  background-size: 100% 100%;
  padding:0 0 0vw 0;
  height: 278vw;
}
section.amarela h1{
  text-align:center;
  padding: 30vw 0 5vw 0vw;
  font-family: "gilroy-bold";
  text-decoration: none;
  /*color: #363636;*/
  color: white;
  font-size: 13vw;
  letter-spacing: 0.01vw;
}

section.amarela ul.lista{
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  margin: 8vw 0 0 5vw;
}

section.amarela ul.lista2{
  width: 90vw;
  display: none;
  position: absolute;
  top: 55.7vw;
  left: 5vw;
  margin: 0 0 0 0;
}

section.amarela ul.lista li{
  box-shadow: 0px 0px 0.8vw rgba(0,0,0,0.1);
  transition: 0.2s;
  width: 49%;
  height: 44.1vw;
  margin: 0.5%;
}

section.amarela ul.lista li:hover h2{
  opacity: 0;
}

section.amarela ul.lista li h2{
    padding: 50% ;
    opacity: 0;
    font-size: 0vw;
}

section.amarela div.divlogo{
  width: 80vw;
  height: 150vw;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top:   -75vw;
  margin-left: -40vw;
}

img.x{
  width: 7vw;
  position: absolute; left: 70.5vw; top: 2vw;
} 

section.amarela div.divlogo h3{
  margin: 5vw 0 0vw 5vw;
  font-family: 'gilroy-bold';
  font-size: 6vw;
  width: 60vw;
}


section.amarela div.divlogo h2{
  font-family: 'gilroy-bold';
  color: white;

  letter-spacing: 0.01vw;
  font-size: 6vw;
}

section.amarela div.divlogo img.comp{
  width: 60vw;height:auto;
  position: absolute; left: 10vw; top: 25vw;
} 


section.amarela div.divlogo img.camisa{
   position: absolute; left: 2.5vw; top: 100vw;
   width:75vw;
} 


section.amarela div.divlogo h2.opcoes{
    padding: 0 0 0 0; position: absolute; top: 88vw; left: 5vw;
}

section.amarela div.divlogo h2.corestxt{ opacity: 0;
    padding: 0 0 0 0; position: absolute; top: 75vw; left: 5vw;
}

section.amarela div.divlogo img.cores{ opacity: 0;
  width: 70vw;
  position: absolute; left: 5vw; top: 85vw;
}
section.amarela div.divlogo div.divopcoes{
  display: flex;
  position: absolute;  left: 5vw;  top: 98vw;  width: 70vw;
  height: 10vw;  background-color: none;
}

section.amarela div.divlogo div.divopcoes div{
  background-size: 170% 100%;
  margin: 0 0.6vw 0 0.6vw;
  transition: 0.2s;width: 25vw;height: 40vw;cursor: default;
}

section.amarela div.fffdiv img.comp{
  width: 60vw;height:auto;
  position: absolute; left: 10vw; top: 30vw;
} 

section.amarela div.fffdiv h3{
  margin: 5vw 0 0vw 5vw;
  font-family: 'gilroy-bold';
  font-size: 5vw;
  width: 60vw;
} 

section.amarela div.divlogo h2.opcoes{
    padding: 0 0 0 0; position: absolute; top: 81vw; left: 5vw;
}
section.amarela div.divlogo p.phistoria{
  position: absolute; width: 12vw; left: 5vw;  top: 89.6vw; width: 70vw; font-family: 'gilroy';color: white;font-size: 4.3vw; line-height: 4.6vw;}

section.amarela div.cdbdiv p.phistoria{
 position: absolute; width: 12vw; left: 5vw;  top: 89vw; width: 70vw; font-family: 'gilroy';color: white;font-size: 3.9vw; line-height: 3.9vw;}

section.amarela div.cdgdiv p.phistoria{
  position: absolute; width: 12vw; left: 5vw;  top: 89.6vw; width: 70vw; font-family: 'gilroy';color: white;font-size: 3.9vw; line-height: 3.9vw;}

section.amarela div.liwgsdiv img.comp{
  width: 50vw;height:auto;
  position: absolute; left: 17vw; top: 27vw;
} 

section.amarela div.kocdiv img.comp{
  width: 70vw;height:auto;
  position: absolute; left: 5vw; top: 27vw;
} 

section.amarela div.cdbdiv img.comp{
  width: 70vw;height:auto;
  position: absolute; left: 5vw; top: 25vw;
}

section.amarela div.rrdiv img.comp{
  width: 70vw;height:auto;
  position: absolute; left: 5vw; top: 18vw;
} 

section.amarela div.pdadiv img.comp{
  width: 70vw;height:auto;
  position: absolute; left: 5vw; top: 24vw;
} 

section.amarela div.cdgdiv img.comp{  width: 64vw;height:auto;
  position: absolute; left: 9vw; top: 18vw;
} 


section.amarela div.goatdiv img.comp{  width: 64vw;height:auto;
  position: absolute; left: 9vw; top: 40vw;
} 

section.amarela div.vufcdiv img.comp{
width: 50vw;height:auto;
  position: absolute; left: 15vw; top: 19vw;
} 




footer{

    height: 15vw;
    top: 263vw;

}

footer div.infofooter{
  display: flex;
  width: 100vw;
  padding: 0.7vw 8.1vw 0vw 9vw;
}


footer div.infofooter p{
  text-align: right;
  color: white;
  font-family: "gilroy";
  font-size: 4vw;
  margin: 4.8vw 4vw 0 1vw;
}

footer div.brasil{
  display: flex; 
  position: relative;
  float: right;
}

footer div.brasil img{
  margin: 4.8vw 2vw 0 6vw;
  width: 4vw;
  height: 4vw;
}

footer div.brasil p{
      margin: 4.8vw 0vw 0 0vw;
}

footer ul{
  display: none;
}


ul.ul-nav-pag{
  position: absolute;
  width: 8vw;
  left: 41vw;
  top: 245vw;
  display: flex;
}


ul.ul-nav-pag li{
  margin: 0 2vw 0 0vw;
}

ul.ul-nav-pag li img.pag1{
  width: 7vw;
  cursor: default;
}

ul.ul-nav-pag li img.pag2{
  width: 6vw;
  margin: 0.6vw 0 0 0;
    cursor: pointer;
}
div.bloqueador{
  max-width: 100vw;
  overflow-x:hidden;
}

}