/* === PREDEFINIÇÕES === */
@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy.woff2') format('woff2'), url('../fonts/gilroy.woff') format('woff');
}
    @font-face {
    font-family: 'gilroy-black';
    src: url('../fonts/gilroy-black-webfont.woff2') format('woff2'), url('../fonts/gilroy-black-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-bold';
    src: url('../fonts/gilroy-bold-webfont.woff2') format('woff2'), url('../fonts/gilroy-bold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-heavy';
    src: url('../fonts/gilroy-heavy-webfont.woff2') format('woff2'),  url('../fonts/gilroy-heavy-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-medium';
    src: url('../fonts/gilroy-medium-webfont.woff2') format('woff2'), url('../fonts/gilroy-medium-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-thin';
    src: url('../fonts/gilroy-thin-webfont.woff2') format('woff2'),  url('../fonts/gilroy-thin-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-ultralight';
    src: url('../fonts/gilroy-ultralight-webfont.woff2') format('woff2'), url('../fonts/gilroy-ultralight-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-blackitalic';
    src: url('../fonts/gilroy-blackitalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-blackitalic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-extrabold';
    src: url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),url('../fonts/gilroy-extrabold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-extrabolditalic';
    src: url('../fonts/gilroy-extrabolditalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-extrabolditalic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-heavyitalic';
    src: url('../fonts/gilroy-heavyitalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-heavyitalic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-mediumitalic';
    src: url('../fonts/gilroy-mediumitalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-mediumitalic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-regularitalic';
    src: url('../fonts/gilroy-regularitalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-regularitalic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-semibold';
    src: url('../fonts/gilroy-semibold-webfont.woff2') format('woff2'),url('../fonts/gilroy-semibold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-semibolditalic';
    src: url('../fonts/gilroy-semibolditalic-webfont.woff2') format('woff2'), url('../fonts/gilroy-semibolditalic-webfont.woff') format('woff');
}

}

body::after{
    position:absolute; z-index:-1;
    content: url(../img/ico-face-2.png) url(../img/ico-insta-2.png) url(../img/ico-zap-2.png) url(i../img/ico-email-2.png) url(../img/ico-ytb-2.png) url(../img/logo-medio-nome-2.png);
}
  
html { 
font-size: calc(1vw + 1vw);
}

body{
  overflow-x:hidden;
}
section h1{    cursor: default;}
section h2{ cursor: default;}
section p{   cursor: default;}

header{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
    z-index: -1;
  z-index: 2;
    left:0;
    top:0;
    height: 5vw;
    width: 100%;
  display: flex;
}
header a.icons-dp{

  display: block;
  margin-left: auto;
  margin-right: auto;
}
header a.icons-dp{
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s;
  width: 2vw;
  height: 2vw;
}
header ul.icons-contato li a.icoface{ background:url(../img/ico-face.png) center center;background-size: 100% 100%;}
header ul.icons-contato li a.icoinsta{ background:url(../img/ico-insta.png) center center;background-size: 100% 100%;}
header ul.icons-contato li a.icozap{ background:url(../img/ico-zap.png) center center;background-size: 100% 100%;}
header ul.icons-contato li a.icomail{ background:url(../img/ico-email.png)  center center;background-size: 100% 100%;}
header ul.icons-contato li a.icoytb{ background:url(../img/ico-ytb.png) center center;background-size: 100% 100%;}

header ul.icons-contato li a.icoface:hover{ background:url(../img/ico-face-3.png) center center;background-size: 100% 100%;    width: 2.3vw;height: 2.3vw;}
header ul.icons-contato li a.icoinsta:hover{ background:url(../img/ico-insta-3.png) center center;background-size: 100% 100%;   width: 2.3vw;height: 2.3vw;}
header ul.icons-contato li a.icozap:hover{ background:url(../img/ico-zap-3.png) center center;background-size: 100% 100%;   width: 2.3vw;height: 2.3vw;}
header ul.icons-contato li a.icomail:hover{ background:url(../img/ico-email-3.png) center center;background-size: 100% 100%;   width: 2.3vw;height: 2.3vw;}
header ul.icons-contato li a.icoytb:hover{ background:url(../img/ico-ytb-3.png) center center;background-size: 100% 100%;   width: 2.3vw;height: 2.3vw;}

header ul.icons-contato{
  left: 70vw;
  position: absolute;
  display: flex;
  padding: 1.5vw 0 1vw 0;
  margin: 0 4vw 0 0vw;
}
header ul.icons-contato li{
  margin: 0 1vw 0vw 1vw;
}
header ul.icons-contato li a img{
 transition: 0.2s;
  width: 2vw;
  height: 2vw;
}
header ul.icons-contato li a img:hover{
  width: 2.3vw;
  height: 2.3vw;
}

header a.logo{
  background:url(../img/logo-medio-nome.png) center center;
  background-size: 100% 100%;
  position: absolute;
  top: 0.75vw;
  left:5vw;
  width: 12.5vw;
  height: 3vw;
  transition: 0.1s;
}
header a.logo:hover{
  background:url(../img/logo-medio-nome-2.png) center center;
  background-size: 100% 100%;
  position: absolute;
  top: 0.65vw;
  left:4.5vw;
  width: 13.5vw;
  height: 3.2vw;
}
header a.fadeOutUp{  animation-duration: 0.5s;     animation-delay: 0.2s;}
header a.fadeInDown{  animation-duration: 0.5s;     animation-delay: 0.1s;}
header ul.fadeOutUp{  animation-duration: 0.6s;     animation-delay: 0.2s;}
header ul.fadeInDown{  animation-duration: 0.5s;     animation-delay: 0.1s;}


header a.bonezin{
  background:url(../img/logo-branco-pqn.png)no-repeat, center center;
  background-size: 100% 100%;
  cursor: pointer;
  display: none;
  width:2.5vw;
  height:2.5vw;
  position: absolute;
  left: 11.75vw;
  top: 0.25vw;
}


header div.menu{
  display: none;
}
header div.menucascata{
  display: none;
}

h1{
      cursor: default;
}
h2{
      cursor: default;
}
p{
      cursor: default;
}

section.branca{
  background: url(../img/banner-branco.png);
  background-size: 100% 100%;
  width: 100vw;
  height: 35vw;
}


section.branca h1{
  text-align: center;
  font-family: "gilroy-black";
  font-size: 5vw;
  padding-top: 10vw;
  color: #E7006F;
}
section.branca p{
  text-align: center;
  font-family: "gilroy";
  font-size: 1.2vw;
  margin: 2vw 0 0 17vw;
  width: 66vw;
  color: #E7006F;
}

 section.branca ul{
  display: flex;
  padding: 0 0 0 34.333vw;
  margin: 4vw 0 0 0;
 }

 section.branca li{
  border-radius: 0px 0.7vw 0.7vw 0vw;
      background: #EE0071;
   padding: 1vw 0vw 1vw 0vw;
   font-family: "gilroy";
   cursor: pointer;
   width: 10vw;
   text-align: center;
   font-size: 1.5vw;
    color: white;
 }

 section.branca li.lidivu{
    border-radius:  0.7vw 0vw 0vw 0.7vw;
   border-right: solid rgba(0,0,0,0.3) 2px;
 }
 section.branca li.lipromo{
    border-radius:  0vw 0vw 0vw 0vw;
   border-right: solid rgba(0,0,0,0.3) 2px;
 }
  section.branca li.listo{
    border-radius:  0vw 0vw 0vw 0vw;
   border-right: solid rgba(0,0,0,0.3) 2px;
 }


  section.branca li:hover{
    background: #db0269;
    color: white;    transition: 0.2s;
    box-shadow: 0px 0px 2vw rgba(0,0,0,0.1);
     }


section.rosa{
  background: url(../img/banner-rosa.png);
  background-size: 100% 200%;
  width: 100vw;
  height: 54vw;
}


section.rosa h1{
  
  font-family: "gilroy-black";
  font-size: 5vw;
  padding: 4vw 0 0 4vw;
  color: white;
}

div.escurecer{
  width: 100vw; height: 100vh; background-color: rgba(0,0,0,0.4); position: fixed; top:0;left:0; z-index: 3; display: none;
}

div.escurecer2{
  width: 100vw; height: 100vh; background-color: rgba(0,0,0,0.4); position: fixed; top:0;left:0; z-index: 3; display: none;
}


img.top{
  z-index: 3;
  position: fixed;
  top: 91.3vh;
  left: 94.5vw;
  width: 3vw; height: auto;
  cursor: pointer;
  opacity: 0.6;
  display: none;
}

div.bloqueador{
  height:86vh;
  width: 40vw;
  z-index: 15; position: fixed; cursor: default; top: 7vh; left: 30vw; display:none;
}
div.bloqueador2{
  height:86vh;
 
  width: 22vw;
  z-index: 15; position: fixed; cursor: default; top: 7vh; left: 39vw; display:none;
}

section.rosa div.card{
  position: absolute; cursor: pointer; 
  box-shadow: 0px 0px 0.5vw rgba(0,0,0,0.1);width: 18vw; height: 18vw;

}
section.rosa div.card1{
left: 1.7vw;top: 46vw;
background: url(../img/card-1.webp);  background-size: 100% 100%;
}

section.rosa div.card2{
left: 21vw;top: 46vw;
background: url(../img/card-2.webp);  background-size: 100% 100%;
}

section.rosa div.card3{
left: 40.3vw;top: 46vw;
background: url(../img/card-3.webp);  background-size: 100% 100%;
}

section.rosa div.card4{
left: 59.6vw;top: 46vw;
background: url(../img/card-4.webp);  background-size: 100% 100%;
}

section.rosa div.card5{
left: 79vw;top: 46vw;
background: url(../img/card-5.webp);  background-size: 100% 100%;
}

section.rosa div.card6{
left: 1.7vw;top: 65.5vw;
background: url(../img/card-6.webp);  background-size: 100% 100%;
}
section.rosa div.card7{
left: 21vw;top: 65.5vw;
background: url(../img/card-7.webp);  background-size: 100% 100%;
}
section.rosa div.card8{
left: 40.3vw;top: 65.5vw;
background: url(../img/card-8.webp);  background-size: 100% 100%;
}
section.rosa div.card9{
left: 59.6vw;top: 65.5vw;
background: url(../img/card-9.webp);  background-size: 100% 100%;
}
section.rosa div.card10{
left: 79vw;top: 65.5vw;
background: url(../img/card-10.webp);  background-size: 100% 100%;
}

section.rosa div.card1:hover{
background: linear-gradient(rgba(0, 0, 0,0.2), rgba(0, 0, 0,0.2)),url(../img/card-1.webp) center center;background-size: 100% 100%;
}

section.rosa div.card2:hover{
background: linear-gradient(rgba(0, 0, 0,0.2), rgba(0, 0, 0,0.2)),url(../img/card-2.webp) center center;background-size: 100% 100%;
}

section.rosa div.card3:hover{
background: linear-gradient(rgba(0, 0, 0,0.2), rgba(0, 0, 0,0.2)),url(../img/card-3.webp) center center;background-size: 100% 100%;
}

section.rosa div.card4:hover{
background: linear-gradient(rgba(0, 0, 0,0.2), rgba(0, 0, 0,0.2)),url(../img/card-4.webp) center center;background-size: 100% 100%;
}
section.rosa div.card5:hover{
background: linear-gradient(rgba(0, 0, 0,0.2), rgba(0, 0, 0,0.2)),url(../img/card-5.webp) center center;background-size: 100% 100%;
}
section.rosa div.card6:hover{
background: linear-gradient(rgba(0, 0, 0,0.2), rgba(0, 0, 0,0.2)),url(../img/card-6.webp) center center;background-size: 100% 100%;
}
section.rosa div.card7:hover{
background: linear-gradient(rgba(0, 0, 0,0.2), rgba(0, 0, 0,0.2)),url(../img/card-7.webp) center center;background-size: 100% 100%;
}
section.rosa div.card8:hover{
background: linear-gradient(rgba(0, 0, 0,0.2), rgba(0, 0, 0,0.2)),url(../img/card-8.webp) center center;background-size: 100% 100%;
}
section.rosa div.card9:hover{
background: linear-gradient(rgba(0, 0, 0,0.2), rgba(0, 0, 0,0.2)),url(../img/card-9.webp) center center;background-size: 100% 100%;
}
section.rosa div.card10:hover{
background: linear-gradient(rgba(0, 0, 0,0.2), rgba(0, 0, 0,0.2)),url(../img/card-10.webp) center center;background-size: 100% 100%;
}

section.amarela{
  background: url(../img/banner-amarelo.png);
  background-size: 100% 100%;
  width: 100vw;
  height: 75vw;
  position: relative;
}


section.amarela h1{
  font-family: "gilroy-black";
  font-size: 5vw;
  padding: 4vw 0 0 4vw;
  color: white;
}
section.amarela div.stories{
  width: 15vw; position: absolute;
  height: 26vw; cursor: pointer;
}
section.amarela div.stories1{
  background: url(../img/stories-2.png); background-size: 100% 100%;
  top:11vw;left:2vw;}
  section.amarela div.stories2{
  background: url(../img/stories-3.png); background-size: 100% 100%;
  top:11vw;left:18vw;}
  section.amarela div.stories3{
  background: url(../img/stories-1.png); background-size: 100% 100%;
  top:11vw;left:34vw;}
  section.amarela div.stories4{
  background: url(../img/stories-4.png); background-size: 100% 100%;
  top:11vw;left:50vw;}
  section.amarela div.stories5{
  background: url(../img/stories-5.png); background-size: 100% 100%;
  top:11vw;left:66vw;}
   section.amarela div.stories6{
  background: url(../img/stories-10.png); background-size: 100% 100%;
  top:11vw;left:82vw;}

  section.amarela div.stories7{
  background: url(../img/stories-6.png); background-size: 100% 100%;
  top:38.1vw;left:2vw;}
    section.amarela div.stories8{
  background: url(../img/stories-7.png); background-size: 100% 100%;
  top:38.1vw;left:18vw;}
    section.amarela div.stories9{
  background: url(../img/stories-8.png); background-size: 100% 100%;
  top:38.1vw;left:34vw;}
    section.amarela div.stories10{
  background: url(../img/stories-9.png); background-size: 100% 100%;
  top:38.1vw;left:50vw;}

  section.amarela div.stories1:hover{
  background: linear-gradient(rgba(0, 0, 0,0.2), rgba(0, 0, 0,0.2)),url(../img/stories-2.png); background-size: 100% 100%;}
  section.amarela div.stories2:hover{
  background: linear-gradient(rgba(0, 0, 0,0.2), rgba(0, 0, 0,0.2)),url(../img/stories-3.png); background-size: 100% 100%;}
  section.amarela div.stories3:hover{
  background: linear-gradient(rgba(0, 0, 0,0.2), rgba(0, 0, 0,0.2)),url(../img/stories-1.png); background-size: 100% 100%;}
  section.amarela div.stories4:hover{
  background: linear-gradient(rgba(0, 0, 0,0.2), rgba(0, 0, 0,0.2)),url(../img/stories-4.png); background-size: 100% 100%;}
  section.amarela div.stories5:hover{
  background: linear-gradient(rgba(0, 0, 0,0.2), rgba(0, 0, 0,0.2)),url(../img/stories-5.png); background-size: 100% 100%;}
   section.amarela div.stories6:hover{
  background: linear-gradient(rgba(0, 0, 0,0.2), rgba(0, 0, 0,0.2)),url(../img/stories-10.png); background-size: 100% 100%;}

  section.amarela div.stories7:hover{
  background: linear-gradient(rgba(0, 0, 0,0.2), rgba(0, 0, 0,0.2)),url(../img/stories-6.png); background-size: 100% 100%;
  }
    section.amarela div.stories8:hover{
  background: linear-gradient(rgba(0, 0, 0,0.2), rgba(0, 0, 0,0.2)),url(../img/stories-7.png); background-size: 100% 100%;
  }
    section.amarela div.stories9:hover{
  background: linear-gradient(rgba(0, 0, 0,0.2), rgba(0, 0, 0,0.2)),url(../img/stories-8.png); background-size: 100% 100%;
  }
    section.amarela div.stories10:hover{
  background: linear-gradient(rgba(0, 0, 0,0.2), rgba(0, 0, 0,0.2)),url(../img/stories-9.png); background-size: 100% 100%;
  }

footer{
 position:absolute;
  top: 159vw;
  left: 0;
	 background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    height: 5vw;
    margin: 0vw 0 0 0;
}

footer div.infofooter{
	width: 79.1vw;
	padding: 0.7vw 8.1vw 0vw 0vw;
}


footer div.infofooter p{
	text-align: right;
	color: white;
	font-family: "gilroy-thin";
	font-size: 1vw;
	margin: 0.6vw 0 0 0vw;
}

footer div.brasil{
	display: flex; position: relative;
  float: right;
}

footer div.brasil img{
	margin: 0.45vw 0.7vw 0 0;
	width: 1.2vw;
	height: 1.2vw;
}


footer ul {
	margin: 1.7vw 0 1.5vw 7.1vw;
	width: 20vw;
	display: flex;
}
footer ul  li{
	margin: 0 1vw 0vw 1vw;
}

footer ul li a{
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s;
  width: 2vw;
  height: 2vw;
}

footer ul li a.icoface{ background:url(../img/ico-face.png) center center;background-size: 100% 100%;}
footer ul li a.icoinsta{ background:url(../img/ico-insta.png) center center;background-size: 100% 100%;}
footer ul li a.icozap{ background:url(../img/ico-zap.png) center center;background-size: 100% 100%;}
footer ul li a.icomail{ background:url(../img/ico-email.png) center center;background-size: 100% 100%;}
footer ul li a.icoytb{ background:url(../img/ico-ytb.png) center center;background-size: 100% 100%;}

footer ul li a.icoface:hover{ background:url(../img/ico-face-3.png) center center;background-size: 100% 100%;    width: 2.3vw;height: 2.3vw;}
footer ul li a.icoinsta:hover{ background:url(../img/ico-insta-3.png) center center;background-size: 100% 100%;   width: 2.3vw;height: 2.3vw;}
footer ul li a.icozap:hover{ background:url(../img/ico-zap-3.png) center center;background-size: 100% 100%;   width: 2.3vw;height: 2.3vw;}
footer ul li a.icomail:hover{ background:url(../img/ico-email-3.png) center center;background-size: 100% 100%;   width: 2.3vw;height: 2.3vw;}
footer ul li a.icoytb:hover{ background:url(../img/ico-ytb-3.png) center center;background-size: 100% 100%;   width: 2.3vw;height: 2.3vw;}


/*
section.bannerdefundo div ul{
		display: flex;
		flex-wrap: wrap;
}
section.bannerdefundo div ul li{
	padding: 5vw 0 0 0;
	text-align: center;
	width: 49.25%;
	height: 7vw;
	margin: 0.25vw 0 0 0;
	background-color: purple;
}
}
*/







@media all and (max-width: 480px){ 

div.container{
	width: 100vw;
}

header{
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
    left:0;
    top:0;
    height: 18vw;
    width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

header a.icons-dp{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header ul.icons-contato{
  display: none;
  padding: 120vw 0 1vw 0;
  margin: 0 8vw 0 0vw;
}

header ul.icons-contato li{
  margin: 0 3.5vw 0 3.5vw;
}

header ul.icons-contato li a img{
width: 10vw;
  height: auto;
}

header a.logo{
  position: absolute;
  top: 3.8vw;
  left: 5vw;
  height: 10vw;
  width:41vw;
}

header a.logo:hover{
  position: absolute;
  top: 3.8vw;
  left: 5vw;
  height: 10vw;
  width:41vw;
}


header div.menu{
  position: absolute;
  top: 3.5vw;
  left: 86vw;
  display: inline-block;
  cursor: pointer;
      
}
.bar1, .bar2, .bar3 {
  width: 10vw;
  height: 1vw;
  background-color: white;
  margin: 2vw 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
} 

header div.menucascata{
border-bottom-left-radius: 2vw;
border-bottom-right-radius: 2vw;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 18vw;
  left: 30vw;
  display: none;    
   width: 70vw; 
    
}
header div.menucascata ul{
  width: 70vw;      
}
header div.menucascata li{
  border-bottom: solid 0.15vw rgba(250, 250, 250, 0.3);
  border-top: solid 0.15vw rgba(250, 250, 250, 0.3);
  display: flex;
  width: 100%;
  height: 10vw;
  padding: 2vw 0 2vw 0;
}

header div.menucascata li a.icons-mb{

  text-decoration:none;
  display: flex;
  width: 100%;
  height: 100%;
}
header div.menucascata li p{
  margin: 2.5vw 0 0 4vw;
  color: white;
  font-family: "gilroy";
  font-size:6vw;
}

header div.menucascata img{
  width: 7vw;
  height: 7vw;
  margin: 1.8vw 0vw 0 6vw;
}



section.branca{
  background: url(../img/banner-branco2.png), no-repeat;
  background-size: 100% 150%;
  height: auto;
}


section.branca h1{
  text-align: center;
  font-family: "gilroy-bold";
  font-size: 12vw;
  padding-top: 27vw;
  color: #E7006F;
}
section.branca p{
  text-align: center;
  font-family: "gilroy";
  font-size: 4.5vw;
  margin: 3vw 0 3vw 5vw;
  width: 90vw;
  color: #E7006F;
}
 section.branca ul{
  padding: 0 0 0 5vw;
  margin: 10vw 0 10vw 0;
 }

 section.branca li{
   padding: 4vw 0vw 4vw 0vw;
   font-family: "gilroy-semibold";
   width: 30vw;
   font-size: 5vw;
 }





div.escurecer{
  width: 100vw; height: 100vh; background-color: rgba(0,0,0,0.4); position: fixed; top:0;left:0; z-index: 3; display: none;
}

div.escurecer2{
  width: 100vw; height: 100vh; background-color: rgba(0,0,0,0.4); position: fixed; top:0;left:0; z-index: 3; display: none;
}

img.top{
  z-index: 3;
  position: fixed;
  top: 94vh;
  left: 90vw;
  width: 8vw; height: auto;
  cursor: pointer;
  opacity: 0.5;
  display: none;
}


div.bloqueador{
  height:90vw;
  width: 90vw;
  z-index: 15; position: fixed; cursor: default; top: 50vw; left: 50vw; display:none;
}
div.bloqueador2{
  height:130vw;
  width: 72vw;
  z-index: 15; position: fixed; cursor: default; top: 8vh; left: 14vw; display:none;
}


section.rosa{
  background: url(../img/banner-rosa.png);
  background-size: 100% 200%;
  width: 100vw;
  height: 263vw;
}


section.rosa h1{
  
  font-family: "gilroy-bold";
  font-size: 11vw;
  padding: 6vw 0 0 4vw;
  color: white;
}

section.rosa div.card{
  position: absolute; cursor: pointer; 
  box-shadow: 0px 0px 0.5vw rgba(0,0,0,0.1);width: 44vw; height: 44vw;

}
section.rosa div.card1{
left: 4vw;top: 105vw;
}

section.rosa div.card2{
left: 52vw;top: 105vw;
}

section.rosa div.card3{
left: 4vw;top: 153vw;
}

section.rosa div.card4{
left: 52vw;top: 153vw;
}

section.rosa div.card5{
left: 4vw;top: 201vw;
}

section.rosa div.card6{
left: 52vw;top: 201vw;
}
section.rosa div.card7{
left: 4vw;top: 249vw;
}
section.rosa div.card8{
left: 52vw;top: 249vw;
}
section.rosa div.card9{
left: 4vw;top: 297vw;
}
section.rosa div.card10{
left: 52vw;top: 297vw;
}


section.amarela{
  background: url(../img/banner-amarelo.png);
  background-size: 100% 100%;
  width: 100vw;
  height: 278.2vw;
  position: relative;
}


section.amarela h1{
  font-family: "gilroy-bold";
  font-size: 11vw;
  padding: 6vw 0 0 4vw;
  color: white;
}
section.amarela div.stories{
  width: 30vw; position: absolute;
  height: 55vw; cursor: pointer;
}
section.amarela div.stories1{
  top:23vw;left:3vw;}
  section.amarela div.stories2{
  top:23vw;left:35vw;}
  section.amarela div.stories3{
  top:23vw;left:67vw;}
  section.amarela div.stories4{
  top:81vw;left:3vw;}
  section.amarela div.stories5{
  top:81vw;left:35vw;}
   section.amarela div.stories6{
  top:81vw;left:67vw;}
  section.amarela div.stories7{
  top:139vw;left:3vw;}
    section.amarela div.stories8{
  top:139vw;left:35vw;}
    section.amarela div.stories9{
  top:139vw;left:67vw;}
    section.amarela div.stories10{
  top:197vw;left:3vw;}

























footer{

    height: 15vw;
    top: 610vw;

}

footer div.infofooter{
  display: flex;
  width: 100vw;
  padding: 0.7vw 8.1vw 0vw 9vw;
}


footer div.infofooter p{
  text-align: right;
  color: white;
  font-family: "gilroy";
  font-size: 4vw;
  margin: 4.8vw 4vw 0 1vw;
}

footer div.brasil{
  display: flex; 
  position: relative;
  float: right;
}

footer div.brasil img{
  margin: 4.8vw 2vw 0 6vw;
  width: 4vw;
  height: 4vw;
}

footer div.brasil p{
      margin: 4.8vw 0vw 0 0vw;
}

footer ul{
  display: none;
}


img.top{
  z-index: 10;
  position: fixed;
  top: 94vh;
  left: 90vw;
  width: 8vw; height: auto;
  cursor: pointer;
  opacity: 0.5;
  display: none;
}



}