/* === PREDEFINIÇÕES === */
html { 
font-size: calc(1vw + 1vw);
}

header{
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
  	z-index: -1;
	z-index: 2;
    left:0;
    top:0;
    height: 5vw;
    width: 100%;
	display: flex;
}
header a{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header ul{
	display: flex;
	padding: 1.5vw 0 1vw 0;
	margin: 0 4vw 0 0vw;
}
header ul li{
	margin: 0 1vw 0vw 1vw;
}
header ul li a img{
width: 2vw;
  height: 2vw;
}

header img.logo{
  position: absolute;
  top: 0.75vw;
  left:5vw;
  height: 3vw;

}


section.bannerdefundo{

	z-index: 1;
    left:0;
    top:0;
	background:url(../img/imagem-banner-pequenissima.jpg) center center;
	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	height: 45vw;
  	width: 100%;
}
section.bannerdefundo h2{
	padding: 15vw 0 0.2vw 50vw;
    font-family: "Gilroy ☞";
    font-weight: 900;
	text-decoration: none;
	color: white;
	font-size: 7vw;
	letter-spacing: 0.5vw;
}

section.bannerdefundo p{
	text-decoration: none;
	margin: 1.5vw 0 0vw 54.5vw;
	font-family: "Gilroy ☞";
	font-weight: 300;
	color: white;
	font-size: 2vw;
	letter-spacing: 0.25vw;

}
section.bannerdefundo p.negrito{
	font-weight: 700;
	font-size: 2.3vw;
	margin: 0.3vw 0 5.5vw 61.8vw;
	letter-spacing: 0.02vw;

}

 

 section.branca h1{
  	text-align:center;
	padding: 4vw 0 3vw 0vw;
	font-family: "Gilroy ☞";
	font-weight: 800;
	text-decoration: none;
	/*color: #363636;*/
	color: #E2046B;
	font-size: 6vw;
	letter-spacing: 0.01vw;
}

 section.branca ul{
  	display:flex;
  	width: 88%;
  	margin: 0 0 0 6%;

}
 section.branca ul li{ 
 	padding: 1.3vw 2.5% 0 2.5%;
 	width: 20%;	
 	margin: 0 1% 0 1%;	
 	/*border: solid #E2046B 0.2vw;
 	border-radius: 1vw;*/
}

 section.branca ul li img{
   width: 60%;
   margin: 0 0 0.6vw 20%;
  	
}
 section.branca ul li h2{ 

 	text-align: center;
 	font-family: "Gilroy ☞";
	font-weight: 700;
	color: #E2046B ;
	font-size: 2.3vw;
	letter-spacing: 0.01vw;
	border: #E2046B solid 1.3px;
	padding: 0.6vw 0 0.5vw 0;
	border-radius: 2vw;
	transition: 0.3s;
}

section.branca ul li h2.midiastxt{ 
 		font-size: 2.1vw;
 		padding: 0.75vw 0 0.7vw 0;
}

section.branca ul li h2:hover{ 
	/*background-color: linear-gradient(rgb(226,4,107), rgb(237, 0 ,113)) center center;*/
	background: linear-gradient(rgba(226,4,107,1), rgba(237,0,113,1));
	color: white;
}
	
.midiastxt2{ 
	 	margin: 1.1vw 0 7.7vw 0;
}

 section.branca ul li a{ 
	color: #E2046B ;
	text-decoration: none;
}

 section.branca ul li p{ 

 	margin: 1.4vw 0 7.7vw 0;
 	text-align: center;
 	font-family: "Gilroy ☞";
	font-weight: 400;
	color: #363636;
	font-size: 1vw;
	line-height: 1.2vw;
}



section.fundorosa{
	background:url(../img/banner-rosa.png) center center;
	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	height: 60vw;
  	width: 100%;
}

section.fundorosa h1{
	padding: 8vw 0 0 8vw;
 	font-family: "Gilroy ☞";
	font-weight: 800;
	color: white ;
	font-size: 5vw;
	letter-spacing: 0.01vw;
}


section.fundorosa p{
	padding: 1vw 0 0 8.1vw;
	width: 45vw;
 	font-family: "Gilroy ☞";
	font-weight: 400;
	color: white ;
	font-size: 1.5vw;
	line-height: 1.8vw;
}





/*
section.bannerdefundo div ul{
		display: flex;
		flex-wrap: wrap;
}
section.bannerdefundo div ul li{
	padding: 5vw 0 0 0;
	text-align: center;
	width: 49.25%;
	height: 7vw;
	margin: 0.25vw 0 0 0;
	background-color: purple;
}
section.bannerdefundo div ul li a{	
	font-family: "Gilroy-HeavyItalic ☞";
	text-decoration: none;
	color: white;
	font-size:2vw;
	
}
section.bannerdefundo div ul li.logos{
		margin: 0.2vw 0 0 0.5%;
	 background: linear-gradient(rgba(227,14,14,0.1), rgba(105,17,17,0.4),rgba(227,14,14,0.2)), url(../img/box-logos.png) center center;
	 background-repeat: no-repeat;
	 background-repeat: no-repeat;
 	 background-size: 100% 100%;
}
section.bannerdefundo div ul li.impressos{
		margin: 0.2vw 0 0 0.5%;
	 background: linear-gradient(rgba(82, 11, 11,0.2), rgba(82, 11, 11,0.6)), url(../img/box-impressos-2.png) center center;
	 background-repeat: no-repeat;
	 background-repeat: no-repeat;
 	 background-size: 100% 100%;
}
section.bannerdefundo div ul li.midias{
	margin: 0.2vw 0 0.2vw 0.5%;
	 background: linear-gradient(rgba(82, 11, 11,0.2), rgba(82, 11, 11,0.6)), url(../img/box-impressos-2.png) center center;
	 background-repeat: no-repeat;
	 background-repeat: no-repeat;
 	 background-size: 100% 100%;
}
section.bannerdefundo div ul li.redes{
	 margin: 0.2vw 0 0.2vw 0.5%;
	 background: linear-gradient(rgba(82, 11, 11,0.2), rgba(82, 11, 11,0.6)), url(../img/box-impressos-2.png) center center;
	 background-repeat: no-repeat;
	 background-repeat: no-repeat;
 	 background-size: 100% 100%;
}
*/






@media all and (max-width: 480px){ 

div.container{
	width: 100vw;
}

header{
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
    left:0;
    top:0;
    height: 21vw;
    width: 100vw;
	display: flex;
	flex-wrap: wrap;
}

header a{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header ul{
	display: flex;
	padding: 120vw 0 1vw 0;
	margin: 0 8vw 0 0vw;
}

header ul li{
	margin: 0 3.5vw 0 3.5vw;
}

header ul li a img{
width: 10vw;
  height: auto;
}

header img.logo{
  position: absolute;
  top: 3vw;
  left: 19vw;
  height: 14vw;

}


section.bannerdefundo{
	background:url(../img/banner-rosa-2.png) center center;
  	background-size: 100% 120%;
  	height: 175vw;
  	width: 100vw;
}

section.bannerdefundo h2{
	padding: 65vw 0 0 0;
 	text-align:center;
 		font-size:15vw;
}
	
section.bannerdefundo p{
	font-weight: 400;
	font-size: 6vw;
	padding: 7vw 0 0 0;
 	text-align:center;
	margin: 0;

}
section.bannerdefundo p.negrito{
	font-size: 6.5vw;
	padding: 1.5vw 0 0 0;
	margin: 0;
 	text-align:center;
	margin: 0;

}

section.branca{
  	height: 150vw;
  	width: 100vw;
}



section.branca h1{
  	text-align:center;
	padding: 10vw 0 4vw 0vw;
	font-family: "Gilroy ☞";
	font-weight: 800;
	color: #E2046B;
	font-size: 12vw;
	letter-spacing: 0.0001vw;
}

 section.branca ul{
  	display:flex;
  	width: 88%;
  	margin: 0 0 1.5vw 6%;
  	flex-wrap: wrap;
}

 section.branca ul li{ 
 	padding: 0;
 	width: 48%;	
 	margin: 10vw 1% 0 1%;	
}

 section.branca ul li img{
   width: 70%;
   margin: 0 0 3vw 15%;
  	
}

section.branca ul li h2.midiastxt{ 
 	font-size: 5vw;
 	padding: 2vw 0 2vw 0;
	border-radius: 10vw;
}


 section.branca ul li h2{ 
 	margin: 0 0 4vw 0;
 	width: 40vw;
	font-weight: 600;
	color: #E2046B ;
	font-size: 5vw;
	padding: 2vw 0 2vw 0;
	border-radius: 10vw;
	background: linear-gradient(rgba(226,4,107,1), rgba(237,0,113,1));
	color: white;
}	

 section.branca ul li img{ 
 	width: 60%;
   margin: 0 0 3vw 20%;

}	



 section.branca ul li p{ 
 	display: none;
 	font-size: 4vw;
 	line-height: 4.3vw;
 	margin: 5vw 0 3vw 0;
	color: #363636;
}

section.fundorosa{
	background:url(../img/banner-rosa-2.png) center center;
  	background-size: 100% 140%;
  	height: 175vw;
  	width: 100vw;

}


section.fundorosa h1{
	padding: 15vw 0 0 6vw;
	font-weight: 800;
	color: white ;
	font-size: 12vw;
	letter-spacing: 0.01vw;
}


section.fundorosa p{
	padding: 4vw 0 0 6.8vw;
	width: 80%;
 	font-family: "Gilroy ☞";
	font-weight: 400;
	color: white ;
	font-size: 5vw;
	line-height:5.7vw;
}

}