/* === PREDEFINIÇÕES === */
@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy.woff2') format('woff2'), url('../fonts/gilroy.woff') format('woff');
}
    @font-face {
    font-family: 'gilroy-black';
    src: url('../fonts/gilroy-black-webfont.woff2') format('woff2'), url('../fonts/gilroy-black-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-bold';
    src: url('../fonts/gilroy-bold-webfont.woff2') format('woff2'), url('../fonts/gilroy-bold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-heavy';
    src: url('../fonts/gilroy-heavy-webfont.woff2') format('woff2'),  url('../fonts/gilroy-heavy-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-medium';
    src: url('../fonts/gilroy-medium-webfont.woff2') format('woff2'), url('../fonts/gilroy-medium-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-thin';
    src: url('../fonts/gilroy-thin-webfont.woff2') format('woff2'),  url('../fonts/gilroy-thin-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-ultralight';
    src: url('../fonts/gilroy-ultralight-webfont.woff2') format('woff2'), url('../fonts/gilroy-ultralight-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-blackitalic';
    src: url('../fonts/gilroy-blackitalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-blackitalic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-extrabold';
    src: url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),url('../fonts/gilroy-extrabold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-extrabolditalic';
    src: url('../fonts/gilroy-extrabolditalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-extrabolditalic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-heavyitalic';
    src: url('../fonts/gilroy-heavyitalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-heavyitalic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-mediumitalic';
    src: url('../fonts/gilroy-mediumitalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-mediumitalic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-regularitalic';
    src: url('../fonts/gilroy-regularitalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-regularitalic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-semibold';
    src: url('../fonts/gilroy-semibold-webfont.woff2') format('woff2'),url('../fonts/gilroy-semibold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-semibolditalic';
    src: url('../fonts/gilroy-semibolditalic-webfont.woff2') format('woff2'), url('../fonts/gilroy-semibolditalic-webfont.woff') format('woff');
}

}

html { 
font-size: calc(1vw + 1vw);
}

header{
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
    z-index: -1;
  z-index: 2;
    left:0;
    top:0;
    height: 5vw;
    width: 100%;
  display: flex;
}
header a.icons-dp{

  display: block;
  margin-left: auto;
  margin-right: auto;
}
header ul.icons-contato{
  left: 70vw;
  position: absolute;
  display: flex;
  padding: 1.5vw 0 1vw 0;
  margin: 0 4vw 0 0vw;
}
header ul.icons-contato li{
  margin: 0 1vw 0vw 1vw;
}
header ul.icons-contato li a img{
 transition: 0.2s;
  width: 2vw;
  height: 2vw;
}
header ul.icons-contato li a img:hover{
  width: 2.3vw;
  height: 2.3vw;
}

header img.logo{
  position: absolute;
  top: 0.75vw;
  left:5vw;
  height: 3vw;
  transition: 0.1s;

}

header img.logo:hover{
  position: absolute;
  top: 0.75vw;
  left:4.9vw;
  height: 3.1vw;

}
header div.menu{
  display: none;
}
header div.menucascata{
  display: none;
}

h1{
      cursor: default;
}
h2{
      cursor: default;
}
p{
      cursor: default;
}
section.branca{
  background:url(../img/banner-branco.png) center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 47vw;
  padding: 3vw 0 0 0;
}
 section.branca h1{
    font-family: 'gilroy-black';
    margin: 6vw 0 0 6vw;
    font-size:7vw;
      /*color: rgba(0, 0, 0, 0.6);*/
  color: #6D12FF;

 }

section.branca p.normal{
margin: 2vw 0 0 6vw;
  font-family: "gilroy";
  color: rgba(0, 0, 0, 0.6);
  font-size: 4vw;

}

section.branca p.normal span{
    font-family: "gilroy-bold";
    color: #CC00B8;
}



section.branca ul{
  margin: 3vw 0 0 3vw;  
  width:94vw;
  display: flex;

}

section.branca ul li{
  width: 15.66666vw;
}

section.branca ul li div{
  padding: 3vw 0 0 0;
  width: 15.66666vw;


}
section.branca ul li img{
  width: 8.66666vw;
  margin: 0 0 0 3.5vw;
}
section.branca ul li img.passos1{
  width: 12.6666vw;
  margin: 0 0 0 1.5vw;
}

section.branca ul li img.passos9{
  width: 10.6666vw;
  margin: 0 0 0 2.5vw;
}

section.branca ul li h2{
  font-family: "gilroy-bold";
  font-weight: bold;
    color: #E2046B;
    font-size: 1.8vw;
    text-align: center;
    margin: 2vw 0 1vw 0;
}
section.branca ul li h2.reuni{
  margin: 1.5vw 0 1vw 0;
}


section.branca ul li p{
   margin: 0 0 0 2.5vw;
   font-family: "gilroy-medium";
  color: rgba(0, 0, 0, 0.8);
    font-size: 0.95vw;
    text-align: center;
    width: 10.66666vw;
}

section.amarela{
  background:url(../img/banner-amarelo.png) no-repeat, center center;
  background-size: 100% 100%;
  padding:0 0 0vw 0;
}
section.amarela h1{
  text-align:center;
  padding: 4vw 0 0vw 0vw;
  font-family: "gilroy-black";
  text-decoration: none;
  /*color: #363636;*/
  color: white;
  font-size: 7vw;
  letter-spacing: 0.01vw;
}

section.amarela ul{
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  margin: 5vw 0 0 5vw;
}

section.amarela ul li{
  transition: 0.2s;
  width: 24%;
  height: 21.6vw;
  margin: 0.5%;
}

section.amarela ul li.serjaoli{background:url(../img/logo-serjao.png) center center;   background-size: 100% 100%;}
section.amarela ul li.serjaoli:hover{background: linear-gradient(rgba(0, 0, 0,0.3), rgba(0, 0, 0,0.4)),url(../img/logo-serjao-2.png) center center;background-size: 105% 105%;}


section.amarela ul li.rrli{background:url(../img/logo-rr.png) center center; background-size: 100% 100%;}
section.amarela ul li.rrli:hover{background: linear-gradient(rgba(0, 0, 0,0.4), rgba(0, 0, 0,0.6)),url(../img/logo-rr-2.png) center center;background-size: 105% 105%;}

section.amarela ul li.kocli{background:url(../img/logo-koc.png) center center; background-size: 100% 100%;}
section.amarela ul li.kocli:hover{background: linear-gradient(rgba(0, 0, 0,0.4), rgba(0, 0, 0,0.6)),url(../img/logo-koc-2.png) center center;background-size: 105% 105%;}

section.amarela ul li.pdali{background:url(../img/logo-pda.png) center center; background-size: 100% 100%;}
section.amarela ul li.pdali:hover{background: linear-gradient(rgba(0, 0, 0,0.4), rgba(0, 0, 0,0.6)),url(../img/logo-pda-2.png) center center;background-size: 105% 105%;}

section.amarela ul li.cdbli{background:url(../img/logo-cdb.png) center center; background-size: 100% 100%;}
section.amarela ul li.cdbli:hover{background: linear-gradient(rgba(0, 0, 0,0.4), rgba(0, 0, 0,0.6)),url(../img/logo-cdb-2.png) center center;background-size: 105% 105%;}

section.amarela ul li.ccli{background:url(../img/logo-cc.png) center center; background-size: 100% 100%;}
section.amarela ul li.ccli:hover{background: linear-gradient(rgba(0, 0, 0,0.5), rgba(0, 0, 0,0.6)),url(../img/logo-cc-2.png) center center;background-size: 105% 105%;}






section.amarela ul li:hover h2{
  opacity: 1;
}

section.amarela ul li h2{
    cursor: pointer;
    transition: 0.3s;
    padding: 9.8vw 0 9.8vw 0;
    font-family: 'gilroy-extrabolditalic';
    color: white;
    opacity: 0;
    font-size: 2vw;
    text-align: center;
}

section.amarela div.serjaodiv{
  display: none;

  background-color: rgba(0, 0, 0, 0.88);
  width: 90vw;
  height: 51vw;
  position: absolute;
  left: 5vw;
  top: 63vw;
}

section.amarela div.serjaodiv h3{
  margin: 3vw 0 0vw 0;
  text-align:center;
  font-family: 'gilroy-heavyitalic';
  text-decoration: none;
  /*color: #363636;*/
  color: white;
  font-size: 5vw;
  letter-spacing: 0.01vw;
}


section.amarela div.serjaodiv h2{

position:absolute; left: 2vw; top: 10vw;
  font-family: 'gilroy-extrabold';
  color: white;
  font-size: 3vw;
  letter-spacing: 0.01vw;
}


section.amarela div.serjaodiv img.x{
  cursor: pointer;
  width: 2.5vw;height:auto;
  position: absolute; left: 85vw; top: 2vw;
} 
section.amarela div.serjaodiv img.complogoserjao{
  width: 50vw;height:auto;
  position: absolute; left: 1vw; top: 3vw;
} 




footer{
	background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    height: 5vw;
    margin: 0vw 0 0 0;
}

footer div.infofooter{
	width: 79.1vw;
	padding: 0.7vw 8.1vw 0vw 0vw;
}


footer div.infofooter p{
	text-align: right;
	color: white;
	font-family: "gilroy-thin";
	font-size: 1vw;
	margin: 0.6vw 0 0 0vw;
}

footer div.brasil{
	display: flex; position: relative;
  float: right;
}

footer div.brasil img{
	margin: 0.45vw 0.7vw 0 0;
	width: 1.2vw;
	height: 1.2vw;
}

footer a{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
footer ul{
	margin: 1.7vw 0 1.5vw 7.1vw;
	width: 20vw;
	display: flex;
}
footer ul li{
	margin: 0 1vw 0vw 1vw;
}
footer ul li a img{
  width: 2vw;
  height: 2vw;
}

footer ul img:hover{
  width: 2.3vw;
  height: 2.3vw;
}


/*
section.bannerdefundo div ul{
		display: flex;
		flex-wrap: wrap;
}
section.bannerdefundo div ul li{
	padding: 5vw 0 0 0;
	text-align: center;
	width: 49.25%;
	height: 7vw;
	margin: 0.25vw 0 0 0;
	background-color: purple;
}
}
*/






@media all and (max-width: 480px){ 

div.container{
	width: 100vw;
}

header{
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
    left:0;
    top:0;
    height: 18vw;
    width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

header a.icons-dp{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header ul.icons-contato{
  display: none;
  padding: 120vw 0 1vw 0;
  margin: 0 8vw 0 0vw;
}

header ul.icons-contato li{
  margin: 0 3.5vw 0 3.5vw;
}

header ul.icons-contato li a img{
width: 10vw;
  height: auto;
}

header img.logo{
  position: absolute;
  top: 3.8vw;
  left: 5vw;
  height: 10vw;

}

header div.menu{
  position: absolute;
  top: 3.5vw;
  left: 86vw;
  display: inline-block;
  cursor: pointer;
      
}
.bar1, .bar2, .bar3 {
  width: 10vw;
  height: 1vw;
  background-color: white;
  margin: 2vw 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
} 

header div.menucascata{
border-bottom-left-radius: 2vw;
border-bottom-right-radius: 2vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 18vw;
  left: 30vw;
  display: none;    
   width: 70vw; 
    
}
header div.menucascata ul{
  width: 70vw;      
}
header div.menucascata li{
  border-bottom: solid 0.15vw rgba(250, 250, 250, 0.3);
  border-top: solid 0.15vw rgba(250, 250, 250, 0.3);
  display: flex;
  width: 100%;
  height: 10vw;
  padding: 2vw 0 2vw 0;
}

header div.menucascata li a.icons-mb{

  text-decoration:none;
  display: flex;
  width: 100%;
  height: 100%;
}
header div.menucascata li p{
  margin: 2.5vw 0 0 4vw;
  color: white;
  font-family: "gilroy";
  font-size:6vw;
}

header div.menucascata img{
  width: 7vw;
  height: 7vw;
  margin: 1.8vw 0vw 0 6vw;
}



footer{
    height: 15vw;

}

footer div.infofooter{
	display: flex;
	width: 100vw;
	padding: 0.7vw 8.1vw 0vw 9vw;
}


footer div.infofooter p{
	text-align: right;
	color: white;
	font-family: "gilroy";
	font-size: 4vw;
	margin: 4.8vw 4vw 0 1vw;
}

footer div.brasil{
	display: flex; 
  position: relative;
  float: right;
}

footer div.brasil img{
	margin: 4.8vw 2vw 0 6vw;
	width: 4vw;
	height: 4vw;
}

footer div.brasil p{
			margin: 4.8vw 0vw 0 0vw;
}

footer ul{
	display: none;
}


}