/* === PREDEFINIÇÕES === */
@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy.woff2') format('woff2'), url('../fonts/gilroy.woff') format('woff');
}
    @font-face {
    font-family: 'gilroy-black';
    src: url('../fonts/gilroy-black-webfont.woff2') format('woff2'), url('../fonts/gilroy-black-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-bold';
    src: url('../fonts/gilroy-bold-webfont.woff2') format('woff2'), url('../fonts/gilroy-bold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-heavy';
    src: url('../fonts/gilroy-heavy-webfont.woff2') format('woff2'),  url('../fonts/gilroy-heavy-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-medium';
    src: url('../fonts/gilroy-medium-webfont.woff2') format('woff2'), url('../fonts/gilroy-medium-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-thin';
    src: url('../fonts/gilroy-thin-webfont.woff2') format('woff2'),  url('../fonts/gilroy-thin-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-ultralight';
    src: url('../fonts/gilroy-ultralight-webfont.woff2') format('woff2'), url('../fonts/gilroy-ultralight-webfont.woff') format('woff');

}
}

html { 
font-size: calc(1vw + 1vw);
}

header{
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
    z-index: -1;
  z-index: 2;
    left:0;
    top:0;
    height: 5vw;
    width: 100%;
  display: flex;
}
header a.icons-dp{

  display: block;
  margin-left: auto;
  margin-right: auto;
}
header ul.icons-contato{
  left: 70vw;
  position: absolute;
  display: flex;
  padding: 1.5vw 0 1vw 0;
  margin: 0 4vw 0 0vw;
}
header ul.icons-contato li{
  margin: 0 1vw 0vw 1vw;
}
header ul.icons-contato li a img{
 transition: 0.2s;
  width: 2vw;
  height: 2vw;
}
header ul.icons-contato li a img:hover{
  width: 2.3vw;
  height: 2.3vw;
}

header img.logo{
  position: absolute;
  top: 0.75vw;
  left:5vw;
  height: 3vw;
  transition: 0.1s;

}

header img.logo:hover{
  position: absolute;
  top: 0.75vw;
  left:4.9vw;
  height: 3.1vw;

}
header div.menu{
  display: none;
}
header div.menucascata{
  display: none;
}
.container{
	width: 100%;
}


section.fundoamarelo{
	background:url(../img/banner-amarelo3.png) center center;
	background-repeat: no-repeat;
  	background-size: 100% 100%;
	width: 100vw;
	height: 76vw;
	padding: 3vw 0 0 0;
}
 section.fundoamarelo h1{
    font-family: 'gilroy-black';
    margin: 6vw 0 0 6vw;
    font-size:7vw;
    color: white;
 }

section.fundoamarelo p.normal{
  padding: 2vw 0 0 6vw;
  width: 35vw;
  font-family: "gilroy";
  font-weight: 400;
  color: white ;
  font-size: 1.4vw;
  line-height: 1.8vw;
}

section.fundoamarelo img{
  position: absolute;
}

.flecha1{width:20vw; height:auto; top:15vw; left:60vw ;}
.flecha2{width:18vw; height:auto; top:28vw; left:60vw;}
.flecha3{width:15vw; height:auto; top:39vw; left:59vw;}
.flecha4{width:9vw; height:auto; top:59vw; left:73.6vw;}
.flecha5{width:13vw; height:auto; top:63vw; left:47vw;   transform: rotate(10deg);}
.flecha6{width:12vw; height:auto; top:46vw; left:23vw; transform: rotate(-10deg);}
.flecha7{width:6vw; height:auto; top:54vw; left:13vw;}

.passos1{width:18vw; height: auto; top:8vw; left:45vw;}
.passos2{width:13vw; height: auto; top:23vw; left:80vw;}
.passos3{width:13vw; height: auto; top:28vw; left:45vw;}
.passos4{width:10vw; height: auto; top:43vw; left:76vw;}
.passos5{width:10vw; height: auto; top:59vw; left:61vw;}
.passos6{width:10vw; height: auto; top:49.5vw; left:36.3vw;}
.passos7{width:12vw; height: auto; top:40vw; left:9vw;}
.passos8{width:13vw; height: auto; top:66vw; left:10vw;}

.txt1{position: absolute; text-align:center; width:12vw; top:19vw; left:48vw;   font-family: "gilroy"; color:black; font-size: 1vw;}
.txt2{position: absolute; text-align:center; width:12vw; top:34vw; left:81.2vw;   font-family: "gilroy"; color:black; font-size: 1vw;}
.txt3{position: absolute; text-align:center; width:12vw; top:40.5vw; left:45.6vw;   font-family: "gilroy"; color:black; font-size: 1vw;}
.txt4{position: absolute; text-align:center; width:12vw; top:54.4vw; left:76vw;   font-family: "gilroy"; color:black; font-size: 1vw;}
.txt5{position: absolute; text-align:center; width:12vw; top:71vw; left:60vw;   font-family: "gilroy"; color:black; font-size: 1vw;}
.txt6{position: absolute; text-align:center; width:12vw; top:58vw; left:35vw;   font-family: "gilroy"; color:black; font-size: 1vw;}
.txt7{position: absolute; text-align:center; width:12vw; top:50vw; left:9.2vw;   font-family: "gilroy"; color:black; font-size: 1vw;}
.txt8{position: absolute; text-align:left;   width:12vw; top:70vw; left:24vw;   font-family: "gilroy"; color:black; font-size: 1vw;}


section.fundobranco{
  background:url(../img/banner-branco.png) no-repeat, center center;
  background-size: 100% 100%;
  height: 50vw;
}
section.fundobranco h1{
  text-align:center;
  padding: 4vw 0 1vw 0vw;
  font-family: "gilroy-black";
  text-decoration: none;
  /*color: #363636;*/
  color: #E2046B;
  font-size: 6vw;
  letter-spacing: 0.01vw;
}

section.fundobranco p{
  text-align:center;
  padding: 1vw 0 3vw 0vw;
  font-family: "gilroy";
  /*color: #363636;*/
  color: #E2046B;
  font-size: 1vw;
  width: 70vw;
  margin: 0 15vw 0 15vw;
  letter-spacing: 0.01vw;
}















footer{
	background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    height: 5vw;
    margin: 0vw 0 0 0;
}

footer div.infofooter{
	width: 79.1vw;
	padding: 0.7vw 8.1vw 0vw 0vw;
}


footer div.infofooter p{
	text-align: right;
	color: white;
	font-family: "gilroy-thin";
	font-size: 1vw;
	margin: 0.6vw 0 0 0vw;
}

footer div.brasil{
	display: flex; position: relative;
  float: right;
}

footer div.brasil img{
	margin: 0.45vw 0.7vw 0 0;
	width: 1.2vw;
	height: 1.2vw;
}

footer a{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
footer ul{
	margin: 1.7vw 0 1.5vw 7.1vw;
	width: 20vw;
	display: flex;
}
footer ul li{
	margin: 0 1vw 0vw 1vw;
}
footer ul li a img{
  width: 2vw;
  height: 2vw;
}

footer ul img:hover{
  width: 2.3vw;
  height: 2.3vw;
}


/*
section.bannerdefundo div ul{
		display: flex;
		flex-wrap: wrap;
}
section.bannerdefundo div ul li{
	padding: 5vw 0 0 0;
	text-align: center;
	width: 49.25%;
	height: 7vw;
	margin: 0.25vw 0 0 0;
	background-color: purple;
}
}
*/






@media all and (max-width: 480px){ 

div.container{
	width: 100vw;
}

header{
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
    left:0;
    top:0;
    height: 18vw;
    width: 100vw;
  display: flex;
  flex-wrap: wrap;
}

header a.icons-dp{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header ul.icons-contato{
  display: none;
  padding: 120vw 0 1vw 0;
  margin: 0 8vw 0 0vw;
}

header ul.icons-contato li{
  margin: 0 3.5vw 0 3.5vw;
}

header ul.icons-contato li a img{
width: 10vw;
  height: auto;
}

header img.logo{
  position: absolute;
  top: 3.8vw;
  left: 5vw;
  height: 10vw;

}

header div.menu{
  position: absolute;
  top: 3.5vw;
  left: 86vw;
  display: inline-block;
  cursor: pointer;
      
}
.bar1, .bar2, .bar3 {
  width: 10vw;
  height: 1vw;
  background-color: white;
  margin: 2vw 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
} 

header div.menucascata{
border-bottom-left-radius: 2vw;
border-bottom-right-radius: 2vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 18vw;
  left: 30vw;
  display: none;    
   width: 70vw; 
    
}
header div.menucascata ul{
  width: 70vw;      
}
header div.menucascata li{
  border-bottom: solid 0.15vw rgba(250, 250, 250, 0.3);
  border-top: solid 0.15vw rgba(250, 250, 250, 0.3);
  display: flex;
  width: 100%;
  height: 10vw;
  padding: 2vw 0 2vw 0;
}

header div.menucascata li a.icons-mb{

  text-decoration:none;
  display: flex;
  width: 100%;
  height: 100%;
}
header div.menucascata li p{
  margin: 2.5vw 0 0 4vw;
  color: white;
  font-family: "gilroy";
  font-size:6vw;
}

header div.menucascata img{
  width: 7vw;
  height: 7vw;
  margin: 1.8vw 0vw 0 6vw;
}



footer{
    height: 15vw;

}

footer div.infofooter{
	display: flex;
	width: 100vw;
	padding: 0.7vw 8.1vw 0vw 9vw;
}


footer div.infofooter p{
	text-align: right;
	color: white;
	font-family: "gilroy";
	font-size: 4vw;
	margin: 4.8vw 4vw 0 1vw;
}

footer div.brasil{
	display: flex; 
  position: relative;
  float: right;
}

footer div.brasil img{
	margin: 4.8vw 2vw 0 6vw;
	width: 4vw;
	height: 4vw;
}

footer div.brasil p{
			margin: 4.8vw 0vw 0 0vw;
}

footer ul{
	display: none;
}


}