/* === PREDEFINIÇÕES === */
@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy.woff2') format('woff2'), url('../fonts/gilroy.woff') format('woff');
}
    @font-face {
    font-family: 'gilroy-black';
    src: url('../fonts/gilroy-black-webfont.woff2') format('woff2'), url('../fonts/gilroy-black-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-bold';
    src: url('../fonts/gilroy-bold-webfont.woff2') format('woff2'), url('../fonts/gilroy-bold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-heavy';
    src: url('../fonts/gilroy-heavy-webfont.woff2') format('woff2'),  url('../fonts/gilroy-heavy-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-medium';
    src: url('../fonts/gilroy-medium-webfont.woff2') format('woff2'), url('../fonts/gilroy-medium-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-thin';
    src: url('../fonts/gilroy-thin-webfont.woff2') format('woff2'),  url('../fonts/gilroy-thin-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-ultralight';
    src: url('../fonts/gilroy-ultralight-webfont.woff2') format('woff2'), url('../fonts/gilroy-ultralight-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-blackitalic';
    src: url('../fonts/gilroy-blackitalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-blackitalic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-extrabold';
    src: url('../fonts/gilroy-extrabold-webfont.woff2') format('woff2'),url('../fonts/gilroy-extrabold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-extrabolditalic';
    src: url('../fonts/gilroy-extrabolditalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-extrabolditalic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-heavyitalic';
    src: url('../fonts/gilroy-heavyitalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-heavyitalic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-mediumitalic';
    src: url('../fonts/gilroy-mediumitalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-mediumitalic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-regularitalic';
    src: url('../fonts/gilroy-regularitalic-webfont.woff2') format('woff2'),url('../fonts/gilroy-regularitalic-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-semibold';
    src: url('../fonts/gilroy-semibold-webfont.woff2') format('woff2'),url('../fonts/gilroy-semibold-webfont.woff') format('woff');
}
@font-face {
    font-family: 'gilroy-semibolditalic';
    src: url('../fonts/gilroy-semibolditalic-webfont.woff2') format('woff2'), url('../fonts/gilroy-semibolditalic-webfont.woff') format('woff');
}

}
body::after{
    position:absolute; z-index:-1;
    content: url(../img/ico-face-2.png) url(../img/ico-insta-2.png) url(../img/ico-zap-2.png) url(i../img/ico-email-2.png) url(../img/ico-ytb-2.png) url(../img/logo-medio-nome-2.png);
}
html { 
font-size: calc(1vw + 1vw);
}

header{
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
  	z-index: -1;
	z-index: 2;
    left:0;
    top:0;
    height: 5vw;
    width: 100%;
	display: flex;
}
header a.icons-dp{

  display: block;
  margin-left: auto;
  margin-right: auto;
}
header a.icons-dp{
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s;
  width: 2vw;
  height: 2vw;
}
header ul.icons-contato li a.icoface{ background:url(../img/ico-face.png) center center;background-size: 100% 100%;}
header ul.icons-contato li a.icoinsta{ background:url(../img/ico-insta.png) center center;background-size: 100% 100%;}
header ul.icons-contato li a.icozap{ background:url(../img/ico-zap.png) center center;background-size: 100% 100%;}
header ul.icons-contato li a.icomail{ background:url(../img/ico-email.png)  center center;background-size: 100% 100%;}
header ul.icons-contato li a.icoytb{ background:url(../img/ico-ytb.png) center center;background-size: 100% 100%;}

header ul.icons-contato li a.icoface:hover{ background:url(../img/ico-face-2.png) center center;background-size: 100% 100%;    width: 2.3vw;height: 2.3vw;}
header ul.icons-contato li a.icoinsta:hover{ background:url(../img/ico-insta-2.png) center center;background-size: 100% 100%;   width: 2.3vw;height: 2.3vw;}
header ul.icons-contato li a.icozap:hover{ background:url(../img/ico-zap-2.png) center center;background-size: 100% 100%;   width: 2.3vw;height: 2.3vw;}
header ul.icons-contato li a.icomail:hover{ background:url(../img/ico-email-2.png) center center;background-size: 100% 100%;   width: 2.3vw;height: 2.3vw;}
header ul.icons-contato li a.icoytb:hover{ background:url(../img/ico-ytb-2.png) center center;background-size: 100% 100%;   width: 2.3vw;height: 2.3vw;}

header ul.icons-contato{
	left: 70vw;
	position: absolute;
	display: flex;
	padding: 1.5vw 0 1vw 0;
	margin: 0 4vw 0 0vw;
}
header ul.icons-contato li{
	margin: 0 1vw 0vw 1vw;
}
header ul.icons-contato li a img{
 transition: 0.2s;
  width: 2vw;
  height: 2vw;
}
header ul.icons-contato li a img:hover{
  width: 2.3vw;
  height: 2.3vw;
}

header a.logo{
  background:url(../img/logo-medio-nome.png) center center;
  background-size: 100% 100%;
  position: absolute;
  top: 0.75vw;
  left:5vw;
  width: 12.5vw;
  height: 3vw;
  transition: 0.1s;
}
header a.logo:hover{
  background:url(../img/logo-medio-nome-2.png) center center;
  background-size: 100% 100%;
  position: absolute;
  top: 0.65vw;
  left:4.5vw;
  width: 13.5vw;
  height: 3.2vw;
}

header div.menu{
	display: none;
}
header div.menucascata{
	display: none;
}
.container{
	width: 100%;
}

section.bannerdefundo{

	z-index: 1;
    left:0;
    top:0;
	background:url(../img/imagem-banner-pequenissima.jpg) center center;
	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	height: 45vw;
  	width: 100%;
}
section.bannerdefundo h2{
	padding: 15vw 0 0.2vw 50.1vw;
    font-family: "gilroy-heavy";
	text-decoration: none;
	color: white;
	font-size: 7vw;
	letter-spacing: 0vw;
}

section.bannerdefundo p{
	text-decoration: none;
	margin: 1.5vw 0 0vw 54.5vw;
	font-family: "gilroy";
	font-weight: 300;
	color: white;
	font-size: 2vw;
	letter-spacing: 0.15vw;

}
section.bannerdefundo p.negrito{
	font-weight: 700;
	font-size: 2vw;
	margin: 0.3vw 0 5.5vw 61.8vw;
	letter-spacing: 0.02vw;

}

  section.branca{
	background:url(../img/banner-branco.png) no-repeat, center center;
	background-size: 100% 100%;
}

 section.branca h1{
  	text-align:center;
	padding: 4vw 0 3vw 0vw;
	font-family: "gilroy-black";
	text-decoration: none;
	/*color: #363636;*/
	color: #E2046B;
	font-size: 6vw;
	letter-spacing: 0.01vw;
}

 section.branca ul{
  	display:flex;
  	width: 88%;
  	margin: 0 0 0 6%;

}
 section.branca ul li{ 
 	padding: 1.3vw 2.5% 0 2.5%;
 	width: 20%;	
 	margin: 0 1% 0 1%;	
 	/*border: solid #E2046B 0.2vw;
 	border-radius: 1vw;*/
}

 section.branca ul li img{
   width: 60%;
   margin: 1vw 0 0.6vw 20%;
    transition: 0.1s;
  	
}
 section.branca ul li h2{ 
    width: 78%;
    margin: 0 0 0 11%;
 	text-align: center;
 	font-family: "gilroy-medium";
	color: #E2046B ;
	font-size: 1.7vw;
	letter-spacing: 0.01vw;
	border: #E2046B solid 1.3px;
	padding: 0.6vw 0 0.5vw 0;
	border-radius: 2vw;
	transition: 0.15s;
}

section.branca ul li h2.midiastxt{ 
 		font-size: 1.5vw;
 		padding: 0.75vw 0 0.7vw 0;
}


 section.branca ul li a:hover h2{
	background: linear-gradient(rgba(226,4,107,1), rgba(237,0,113,1));
	color: white;
}


	
.midiastxt2{ 
	 	margin: 1.1vw 0 7.7vw 0;
}

 section.branca ul li a{ 
	color: #E2046B ;
	text-decoration: none;
}

 section.branca ul li p{ 

 	margin: 1.4vw 0 7.7vw 0;
 	text-align: center;
 	font-family: "gilroy";
	font-weight: 400;
	color: #363636;
	font-size: 1vw;
	line-height: 1.2vw;
}


section.fundoamarelo h1{
	padding: 0vw 0 0 8vw;
 	font-family: "gilroy-black";
	color: white ;
	font-size: 5vw;
	letter-spacing: 0.01vw;
}


section.fundoamarelo p{
	padding: 0vw 0 3vw 8.2vw;
	width: 45vw;
 	font-family: "gilroy";
	color: white ;
	font-size: 1.5vw;
	line-height: 1.8vw;
}

section.fundoamarelo{
	background:url(../img/banner-amarelo.png) center center;
	background-repeat: no-repeat;
  	background-size: 100% 100%;
	width: 98.9vw;
	height: 30vw;
	padding: 3vw 0 0 0;
}

section.fundoamarelo ul{
	display: none;
margin: 0 0 0 8vw;
 padding: 2vw 0 3vw 0; 
overflow-y:hidden;
overflow-x:scroll;
  white-space: nowrap;
  width: 84vw;	
}

section.fundoamarelo ul::-webkit-scrollbar{
  background-color:rgba(250, 250, 250, 0.3); 
  width: 0vw;	    
}

section.fundoamarelo ul::-webkit-scrollbar-thumb {
   background-color:rgba(226, 4, 107, 0.8); 
}



section.fundoamarelo ul li{
  display: inline-block;
  padding: 0vw 1vw 0vw 1vw; 
}

section.fundoamarelo ul li img{
	width: 9.9vw;
}


#box {
	  display: block;
	  width: 80vw;
    overflow-y: visible;
    overflow-x: auto;
    white-space: nowrap;
    vertical-align: text-top;
    margin: 0 0 0vw 10vw;
    padding: 2vw 0 1vw 0;
    clear: both;
    border-spacing: 5px;
}
.item {

    display: table-cell;
    min-width: 10vw;
    width: 10vw;
    white-space: normal;
    line-height: 1.6;
    vertical-align: top;
    text-align: center;
}

#box::-webkit-scrollbar{
  background-color:rgba(250, 250, 250, 0.3); 
  width: 0vw;	    
}
#box::-webkit-scrollbar-thumb {
   background-color:rgba(226, 4, 107, 0.8); 
}

#box img{
  transition: 0.15s;
	width:10vw;
  padding: 1vw 1vw 1vw 1vw;
}
#box img:hover{
    width:11vw;
    padding: 0.5vw 0.5vw 0.5vw 0.5vw;
}




section.fundorosa{
	background:url(../img/banner-rosa.png) center center;
	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	width: 100%;
  	height: 85.9vw;
}

section.fundorosa h1{
	padding: 8vw 0 0 8vw;
 	font-family: "gilroy-black";
	font-weight: 800;
	color: white ;
	font-size: 5vw;
	letter-spacing: 0.01vw;
}


section.fundorosa p.textohistoria{
	padding: 2vw 0 0 8.1vw;
	width: 45vw;
 	font-family: "gilroy";
	font-weight: 400;
	color: white ;
	font-size: 1.5vw;
	line-height: 1.8vw;
}


footer{
  position:absolute;
  top: 199.1vw;
  left: 0;
	 background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    display: flex;
    height: 5vw;
    margin: 0vw 0 0 0;
}

footer div.infofooter{
	width: 79.1vw;
	padding: 0.7vw 8.1vw 0vw 0vw;
}


footer div.infofooter p{
	text-align: right;
	color: white;
	font-family: "gilroy-thin";
	font-size: 1vw;
	margin: 0.6vw 0 0 0vw;
}

footer div.brasil{
	display: flex; position: relative;
  float: right;
}

footer div.brasil img{
	margin: 0.45vw 0.7vw 0 0;
	width: 1.2vw;
	height: 1.2vw;
}


footer ul {
	margin: 1.7vw 0 1.5vw 7.1vw;
	width: 20vw;
	display: flex;
}
footer ul  li{
	margin: 0 1vw 0vw 1vw;
}

footer ul li a{
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s;
  width: 2vw;
  height: 2vw;
}

footer ul li a.icoface{ background:url(../img/ico-face.png), center center;background-size: 100% 100%;}
footer ul li a.icoinsta{ background:url(../img/ico-insta.png) center center;background-size: 100% 100%;}
footer ul li a.icozap{ background:url(../img/ico-zap.png) center center;background-size: 100% 100%;}
footer ul li a.icomail{ background:url(../img/ico-email.png) center center;background-size: 100% 100%;}
footer ul li a.icoytb{ background:url(../img/ico-ytb.png) center center;background-size: 100% 100%;}

footer ul li a.icoface:hover{ background:url(../img/ico-face-2.png) center center;background-size: 100% 100%;    width: 2.3vw;height: 2.3vw;}
footer ul li a.icoinsta:hover{ background:url(../img/ico-insta-2.png) center center;background-size: 100% 100%;   width: 2.3vw;height: 2.3vw;}
footer ul li a.icozap:hover{ background:url(../img/ico-zap-2.png) center center;background-size: 100% 100%;   width: 2.3vw;height: 2.3vw;}
footer ul li a.icomail:hover{ background:url(../img/ico-email-2.png) center center;background-size: 100% 100%;   width: 2.3vw;height: 2.3vw;}
footer ul li a.icoytb:hover{ background:url(../img/ico-ytb-2.png) center center;background-size: 100% 100%;   width: 2.3vw;height: 2.3vw;}



/*
section.bannerdefundo div ul{
		display: flex;
		flex-wrap: wrap;
}
section.bannerdefundo div ul li{
	padding: 5vw 0 0 0;
	text-align: center;
	width: 49.25%;
	height: 7vw;
	margin: 0.25vw 0 0 0;
	background-color: purple;
}	
section.bannerdefundo div ul li.redes{
	 margin: 0.2vw 0 0.2vw 0.5%;
	 background: linear-gradient(rgba(82, 11, 11,0.2), rgba(82, 11, 11,0.6)), url(../img/box-impressos-2.png) center center;
	 background-repeat: no-repeat;
	 background-repeat: no-repeat;
 	 background-size: 100% 100%;
}
*/






@media all and (max-width: 480px){ 

div.container{
	width: 100vw;
}

header{
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
    left:0;
    top:0;
    height: 18vw;
    width: 100vw;
	display: flex;
	flex-wrap: wrap;
}

header a.icons-dp{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header ul.icons-contato{
	display: none;
	padding: 120vw 0 1vw 0;
	margin: 0 8vw 0 0vw;
}

header ul.icons-contato li{
	margin: 0 3.5vw 0 3.5vw;
}

header ul.icons-contato li a img{
width: 10vw;
  height: auto;
}

header a.logo{
  position: absolute;
  top: 3.8vw;
  left: 5vw;
  height: 10vw;
  width:41vw;
}
header a.logo:hover{
  position: absolute;
  top: 3.8vw;
  left: 5vw;
  height: 10vw;
  width:41vw;
}


header div.menu{
  position: absolute;
  top: 3.5vw;
  left: 86vw;
  display: inline-block;
  cursor: pointer;
			
}
.bar1, .bar2, .bar3 {
  width: 10vw;
  height: 1vw;
  background-color: white;
  margin: 2vw 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}	

header div.menucascata{
border-bottom-left-radius: 2vw;
border-bottom-right-radius: 2vw;
	background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 18vw;
  left: 30vw;
  display: none;		
   width: 70vw;	
  	
}
header div.menucascata ul{
  width: 70vw;			
}
header div.menucascata li{
	border-bottom: solid 0.15vw rgba(250, 250, 250, 0.3);
	border-top: solid 0.15vw rgba(250, 250, 250, 0.3);
  display: flex;
  width: 100%;
  height: 10vw;
  padding: 2vw 0 2vw 0;
}

header div.menucascata li a.icons-mb{

  text-decoration:none;
  display: flex;
  width: 100%;
  height: 100%;
}
header div.menucascata li p{
  margin: 2.5vw 0 0 4vw;
  color: white;
  font-family: "gilroy";
  font-size:6vw;
}

header div.menucascata img{
  width: 7vw;
  height: 7vw;
  margin: 1.8vw 0vw 0 6vw;
}


section.bannerdefundo{
	background:url(../img/banner-rosa-2.png) center center;
  	background-size: 100% 120%;
  	height: 175vw;
  	width: 100vw;
}

section.bannerdefundo h2{
	padding: 77vw 0 0 0;
 	text-align:center;
 	font-size:15vw;
 	letter-spacing: -0.3vw;
}
	
section.bannerdefundo p{
	font-weight: 400;
	font-size: 6vw;
	padding: 7vw 0 0 0;
 	text-align:center;
	margin: 0;

}
section.bannerdefundo p.negrito{
	font-size: 6.5vw;
	padding: 0vw 0 0 0;
	margin: 0;
 	text-align:center;
	margin: 0;

}


section.branca{
  	height: 155vw;
  	width: 100vw;
  	background:url(../img/banner-branco.png) no-repeat, center center;
	background-size: 180% 100%;
}



section.branca h1{
  	text-align:center;
	padding: 10vw 0 4vw 0vw;
	font-family: "gilroy-black";
	color: #E2046B;
	font-size: 12vw;
	letter-spacing: 0.2vw;
}

 section.branca ul{
  	display:flex;
  	width: 88%;
  	margin: 0 0 1.5vw 6%;
  	flex-wrap: wrap;
}

 section.branca ul li{ 
 	padding: 0;
 	width: 48%;	
 	margin: 10vw 1% 0 1%;	
}

 section.branca ul li img{
   width: 70%;
   margin: 0 0 3vw 15%;
  	
}

section.branca ul li h2.midiastxt{ 
 	font-size: 4.5vw;
 	padding: 2.25vw 0 2.25vw 0;
	border-radius: 10vw;
}


 section.branca ul li h2{ 
 	font-family: "gilroy";
 	text-align: center;
 	margin: 0 0 4vw 2.5vw;
 	width: 35vw;
	color: #E2046B ;
	font-size: 5vw;
	padding: 2vw 0 2vw 0;
	border-radius: 10vw;
	background: linear-gradient(rgba(226,4,107,1), rgba(237,0,113,1));
	color: white;
}	

 section.branca ul li img{ 
 width: 60%;
   margin: 0 0 3vw 18.1%;

}	



 section.branca ul li p{ 
 	display: none;
 	font-size: 4vw;
 	line-height: 4.3vw;
 	margin: 5vw 0 3vw 0;
	color: #363636;
}



section.fundoamarelo h1{
	padding: 8vw 0 0 8vw;
 	font-family: "gilroy-black";
	color: white ;
	font-size: 15vw;
	letter-spacing: 0.01vw;
}


section.fundoamarelo p{
	padding: 3vw 0 7vw 8.2vw;
	width: 90vw;
 	font-family: "gilroy-medium";
	color: white ;
	font-size: 5.8vw;	
	line-height: 8vw;

}


section.fundoamarelo{
	width: 100vw;
	height: 100vw;
	padding: 3vw 0 10vw  0;
}
#box{
	display: none;
}
section.fundoamarelo .horizontal-scroll-wrapper{
   display:none;
}

section.fundoamarelo ul{
	display: block;
	background-color:rgba(0,0,0,0.1);
	margin: 10vw 0 0 0vw;
 	padding: 4vw 0 2vw 0; 
  	width: 100vw;	
}
section.fundoamarelo ul li{
  padding: 0vw 2vw 0vw 2vw; 
}

section.fundoamarelo ul li img{
	width: 23vw;
}


section.fundorosa{
	background:url(../img/banner-rosa-2.png) center center;
  	background-size: 100% 140%;
  	width: 100vw;
  	height: 430vw;

}


section.fundorosa h1{
	padding: 15vw 0 0 6vw;
	font-weight: 800;
	color: white ;
	font-size: 12vw;
	letter-spacing: 0.01vw;
}


section.fundorosa p.textohistoria{
	padding: 4vw 0 0 6.8vw;
	width: 80%;
 	font-family: "gilroy";
	color: white ;
	font-size: 5vw;
	line-height:5.7vw;
}

footer{
    height: 15vw;
    top: 858vw;

}

footer div.infofooter{
	display: flex;
	width: 100vw;
	padding: 0.7vw 8.1vw 0vw 9vw;
}


footer div.infofooter p{
	text-align: right;
	color: white;
	font-family: "gilroy";
	font-size: 4vw;
	margin: 4.8vw 4vw 0 1vw;
}

footer div.brasil{
	display: flex; 
  position: relative;
  float: right;
}

footer div.brasil img{
	margin: 4.8vw 2vw 0 6vw;
	width: 4vw;
	height: 4vw;
}

footer div.brasil p{
			margin: 4.8vw 0vw 0 0vw;
}

footer ul{
	display: none;
}


}