/* === PREDEFINIÇÕES === */
html { 
font-size: calc(1em + 1vw); 
}

header{
	 background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
  	z-index: -1;
	 z-index: 2;
    left:0;
    top:0;
    height: 3.2em;
    width: 100%;
	display: flex;
}
header a{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header ul{
	display: flex;
	padding: 1em 0 1em 0;
	margin: 0 5em 0 0em;
}
header ul li{
	margin: 0 0.5em 0vw 0.5em;
}
header ul li a img{
width: 1em;
  height: 1em;
}

header img.logo{
  position: absolute;
  top: 0.75em;
  left:5em;
  height: 1.5em;

}


section.bannerdefundo{

	z-index: 1;
    left:0;
    top:0;
	background:url(../img/imagem-banner-pequenissima.jpg) center center;
	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	height: 23em;
  	width: 100%;
}
section.bannerdefundo h2{
	text-align: center;
	padding: 3.4em 0 0.2em 0em;
	font-family: "Gilroy-HeavyItalic ☞";
	text-decoration: none;
	color: white;
	font-size: 3em;
	letter-spacing: 0.5vw;
}

section.bannerdefundo p{
	text-align: center;
	text-decoration: none;
	margin: 0.5em 0 0.5em 0;
	font-family: "Gilroy ☞";
	font-weight: bold;
	color: white;
	font-size: 1em;
	letter-spacing: 0.25vw;

}

/*
section.branca{
	background color: white;
  	width: 100%;
  }

section.branca ul{
		display: flex;
		flex-wrap: wrap;
}
section.branca ul li{
	padding: 5em 0 0 0;
	text-align: center;
	width: 49.5%;
	height: 7em;
	margin: 0.25em 0.25% 0 0.25%;
	background-color: purple;

}

section.branca ul li a{	
	margin: 2em 0 0 0;
	font-family: "Gilroy-HeavyItalic ☞";
	text-decoration: none;
	color: white;
	font-size:2em;
	

}

section.branca ul li.impressos{
		background: linear-gradient(rgba(227,14,14,0.1), rgba(105,17,17,0.4),rgba(227,14,14,0.2)), url(../img/box-impressos.png) center center;
	background: linear-gradient(rgba(82, 11, 11,0.2), rgba(82, 11, 11,0.6)), url(../img/box-impressos-2.png) center center;
	 background-repeat: no-repeat;
	 background-repeat: no-repeat;
 	 background-size: 100% 100%;

}
*/






@media all and (max-width: 480px) { 


/* HEADER */

}