/* === PREDEFINIÇÕES === */
html { 
font-size: calc(1em + 1vw);
}

header{
	 background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
  	z-index: -1;
	 z-index: 2;
    left:0;
    top:0;
    height: 3.2em;
    width: 100%;
	display: flex;
}
header a{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header ul{
	display: flex;
	padding: 1em 0 1em 0;
	margin: 0 5em 0 0em;
}
header ul li{
	margin: 0 0.5em 0vw 0.5em;
}
header ul li a img{
width: 1em;
  height: 1em;
}

header img.logo{
  position: absolute;
  top: 0.75em;
  left:5em;
  height: 1.5em;

}


section.bannerdefundo{

	z-index: 1;
    left:0;
    top:0;
	background:url(../img/imagem-banner-pequenissima.jpg) center center;
	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	height: 25em;
  	width: 100%;
}
section.bannerdefundo h2{
	padding: 3.5em 0 0.2em 9.5em;
    font-family: "Gilroy ☞";
    font-weight: 900;
	text-decoration: none;
	color: white;
	font-size: 3em;
	letter-spacing: 0.5vw;
}

section.bannerdefundo p{
	text-decoration: none;
	margin: 0.5em 0 0em 29.8em;
	font-family: "Gilroy ☞";
	font-weight: 300;
	color: white;
	font-size: 1em;
	letter-spacing: 0.25vw;

}
section.bannerdefundo p.negrito{
	font-weight: 700;
	font-size: 1.2em;
	margin: 0.1em 0 5.5em 27.9em;
		letter-spacing: 0.02em;

}

 

 section.branca h1{
  	text-align:center;
	padding: 1.5em 0 0.5em 0em;
	font-family: "Gilroy ☞";
	font-weight: 800;
	text-decoration: none;
	color: #363636;
	font-size: 2em;
	letter-spacing: 0.01em;
}

 section.branca ul{
  	display:flex;
  	width: 88%;
  	margin: 0 0 0 6%;

}
 section.branca ul li{ 
 	padding: 1.3em 0.6em 0 0.6em;
 	width: 20%;	
 	margin: 0 1% 0 1%;	
 	/*border: solid #E2046B 0.2em;
 	border-radius: 1em;*/
}

 section.branca ul li img{
   width: 50%;
   margin: 0 0 0.6em 25%;
  	
}
 section.branca ul li h2{ 
 	text-align: center;
 	font-family: "Gilroy ☞";
	font-weight: 800;
	color: #E2046B ;
	font-size: 1em;
	letter-spacing: 0.01em;
}

 section.branca ul li p{ 

 	margin: 1em 0 2em 0;
 	text-align: center;
 	font-family: "Gilroy ☞";
	font-weight: 400;
	color: #363636;
	font-size: 0.6em;
	line-height: 1.2em;
}







/*
section.bannerdefundo div ul{
		display: flex;
		flex-wrap: wrap;
}
section.bannerdefundo div ul li{
	padding: 5em 0 0 0;
	text-align: center;
	width: 49.25%;
	height: 7em;
	margin: 0.25em 0 0 0;
	background-color: purple;

}

section.bannerdefundo div ul li a{	
	font-family: "Gilroy-HeavyItalic ☞";
	text-decoration: none;
	color: white;
	font-size:2em;
	

}

section.bannerdefundo div ul li.logos{
		margin: 0.2em 0 0 0.5%;

	 background: linear-gradient(rgba(227,14,14,0.1), rgba(105,17,17,0.4),rgba(227,14,14,0.2)), url(../img/box-logos.png) center center;
	 background-repeat: no-repeat;
	 background-repeat: no-repeat;
 	 background-size: 100% 100%;
}

section.bannerdefundo div ul li.impressos{
		margin: 0.2em 0 0 0.5%;
	 background: linear-gradient(rgba(82, 11, 11,0.2), rgba(82, 11, 11,0.6)), url(../img/box-impressos-2.png) center center;
	 background-repeat: no-repeat;
	 background-repeat: no-repeat;
 	 background-size: 100% 100%;
}

section.bannerdefundo div ul li.midias{
	margin: 0.2em 0 0.2em 0.5%;


	 background: linear-gradient(rgba(82, 11, 11,0.2), rgba(82, 11, 11,0.6)), url(../img/box-impressos-2.png) center center;
	 background-repeat: no-repeat;
	 background-repeat: no-repeat;
 	 background-size: 100% 100%;
}

section.bannerdefundo div ul li.redes{
	 margin: 0.2em 0 0.2em 0.5%;

	 background: linear-gradient(rgba(82, 11, 11,0.2), rgba(82, 11, 11,0.6)), url(../img/box-impressos-2.png) center center;
	 background-repeat: no-repeat;
	 background-repeat: no-repeat;
 	 background-size: 100% 100%;
}
*/





@media all and (max-width: 480px) { 


/* HEADER */

}